body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1400px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:0px;
  top:150px;
  width:1400px;
  height:40px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1401px;
  height:41px;
}
#u2 {
  position:absolute;
  left:2px;
  top:12px;
  width:1396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:325px;
  top:150px;
  width:125px;
  height:40px;
  font-family:'微软雅黑 Regular', '微软雅黑';
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:41px;
}
#u4 {
  position:absolute;
  left:2px;
  top:10px;
  width:121px;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:450px;
  top:150px;
  width:125px;
  height:40px;
  font-family:'微软雅黑 Regular', '微软雅黑';
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:41px;
}
#u6 {
  position:absolute;
  left:2px;
  top:10px;
  width:121px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:575px;
  top:150px;
  width:125px;
  height:40px;
  font-family:'微软雅黑 Regular', '微软雅黑';
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:41px;
}
#u8 {
  position:absolute;
  left:2px;
  top:10px;
  width:121px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:825px;
  top:150px;
  width:125px;
  height:40px;
  font-family:'微软雅黑 Regular', '微软雅黑';
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:41px;
}
#u10 {
  position:absolute;
  left:2px;
  top:10px;
  width:121px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:700px;
  top:150px;
  width:125px;
  height:40px;
  font-family:'微软雅黑 Regular', '微软雅黑';
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:41px;
}
#u12 {
  position:absolute;
  left:2px;
  top:10px;
  width:121px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:200px;
  top:150px;
  width:125px;
  height:40px;
  font-family:'微软雅黑 Regular', '微软雅黑';
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:41px;
}
#u14 {
  position:absolute;
  left:2px;
  top:10px;
  width:121px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:950px;
  top:150px;
  width:125px;
  height:40px;
  font-family:'微软雅黑 Regular', '微软雅黑';
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:41px;
}
#u16 {
  position:absolute;
  left:2px;
  top:10px;
  width:121px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:1075px;
  top:150px;
  width:125px;
  height:40px;
  font-family:'微软雅黑 Regular', '微软雅黑';
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:41px;
}
#u18 {
  position:absolute;
  left:2px;
  top:10px;
  width:121px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:1400px;
  height:35px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1401px;
  height:36px;
}
#u20 {
  position:absolute;
  left:2px;
  top:10px;
  width:1396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:200px;
  top:10px;
  width:340px;
  height:16px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:341px;
  height:17px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:660px;
  top:6px;
  width:540px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  text-align:right;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:541px;
  height:20px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:540px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:200px;
  top:50px;
  width:150px;
  height:70px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:71px;
}
#u26 {
  position:absolute;
  left:2px;
  top:27px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:370px;
  top:77px;
  width:130px;
  height:28px;
  font-size:24px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:29px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:0px;
  top:1625px;
  width:1400px;
  height:100px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1401px;
  height:101px;
}
#u31 {
  position:absolute;
  left:2px;
  top:42px;
  width:1396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:0px;
  top:1620px;
  width:1400px;
  height:10px;
}
#u32_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u32_end {
  position:absolute;
  left:1391px;
  top:-5px;
  width:14px;
  height:20px;
}
#u32_line {
  position:absolute;
  left:0px;
  top:4px;
  width:1400px;
  height:2px;
}
#u33 {
  position:absolute;
  left:346px;
  top:1655px;
  width:708px;
  height:40px;
  text-align:center;
  line-height:20px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:709px;
  height:41px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:708px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:200px;
  top:220px;
  width:1000px;
  height:1050px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1001px;
  height:1051px;
}
#u36 {
  position:absolute;
  left:2px;
  top:517px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:220px;
  top:240px;
  width:270px;
  height:24px;
  font-size:20px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:25px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:220px;
  top:283px;
  width:150px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:16px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:20px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:220px;
  top:319px;
  width:80px;
  height:16px;
  color:#666666;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:17px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:220px;
  top:356px;
  width:80px;
  height:16px;
  color:#666666;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:17px;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:220px;
  top:392px;
  width:80px;
  height:16px;
  color:#666666;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:17px;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:220px;
  top:431px;
  width:80px;
  height:16px;
  color:#666666;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:17px;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:220px;
  top:485px;
  width:150px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:16px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:20px;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:220px;
  top:530px;
  width:80px;
  height:16px;
  color:#666666;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:17px;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:220px;
  top:567px;
  width:80px;
  height:16px;
  color:#666666;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:17px;
}
#u54 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:220px;
  top:603px;
  width:80px;
  height:16px;
  color:#666666;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:17px;
}
#u56 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:220px;
  top:642px;
  width:80px;
  height:16px;
  color:#666666;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:17px;
}
#u58 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:220px;
  top:695px;
  width:150px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:16px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:20px;
}
#u60 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:300px;
  top:319px;
  width:80px;
  height:16px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:17px;
}
#u62 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:300px;
  top:356px;
  width:220px;
  height:16px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:17px;
}
#u64 {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:300px;
  top:392px;
  width:450px;
  height:16px;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:451px;
  height:17px;
}
#u66 {
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:300px;
  top:431px;
  width:300px;
  height:16px;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:17px;
}
#u68 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:300px;
  top:530px;
  width:80px;
  height:16px;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:17px;
}
#u70 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:300px;
  top:567px;
  width:220px;
  height:16px;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:17px;
}
#u72 {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:300px;
  top:603px;
  width:450px;
  height:16px;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:451px;
  height:17px;
}
#u74 {
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:300px;
  top:642px;
  width:300px;
  height:16px;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:17px;
}
#u76 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:200px;
  top:1300px;
  width:1000px;
  height:300px;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1001px;
  height:301px;
}
#u78 {
  position:absolute;
  left:2px;
  top:142px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:220px;
  top:1320px;
  width:170px;
  height:28px;
  font-size:24px;
  color:#999999;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:29px;
}
#u80 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  word-wrap:break-word;
}
#u81 {
  position:absolute;
  left:220px;
  top:1371px;
  width:130px;
  height:16px;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:17px;
}
#u82 {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  word-wrap:break-word;
}
#u83 {
  position:absolute;
  left:322px;
  top:1366px;
  width:210px;
  height:25px;
}
#u83_input {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:25px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u84 {
  position:absolute;
  left:220px;
  top:1414px;
  width:130px;
  height:16px;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:17px;
}
#u85 {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  word-wrap:break-word;
}
#u86 {
  position:absolute;
  left:322px;
  top:1411px;
  width:168px;
  height:22px;
}
#u86_input {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:22px;
  background-image:;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u87 {
  position:absolute;
  left:220px;
  top:1458px;
  width:130px;
  height:16px;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:17px;
}
#u88 {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  word-wrap:break-word;
}
#u89 {
  position:absolute;
  left:322px;
  top:1453px;
  width:170px;
  height:25px;
}
#u89_input {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:25px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u90 {
  position:absolute;
  left:502px;
  top:1457px;
  width:130px;
  height:16px;
}
#u90_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:17px;
}
#u91 {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  word-wrap:break-word;
}
#u92 {
  position:absolute;
  left:220px;
  top:1499px;
  width:130px;
  height:16px;
}
#u92_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:17px;
}
#u93 {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  word-wrap:break-word;
}
#u94 {
  position:absolute;
  left:322px;
  top:1495px;
  width:210px;
  height:25px;
}
#u94_input {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:25px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u95 {
  position:absolute;
  left:322px;
  top:1540px;
  width:118px;
  height:35px;
}
#u95_input {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:35px;
  background-image:url(../../resources/images/transparent.gif);
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u96 {
  position:absolute;
  left:220px;
  top:741px;
  width:80px;
  height:16px;
  color:#666666;
}
#u96_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:17px;
}
#u97 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u98 {
  position:absolute;
  left:220px;
  top:916px;
  width:80px;
  height:16px;
  color:#666666;
}
#u98_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:17px;
}
#u99 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u100 {
  position:absolute;
  left:220px;
  top:964px;
  width:80px;
  height:16px;
  color:#666666;
}
#u100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:17px;
}
#u101 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u102 {
  position:absolute;
  left:220px;
  top:1213px;
  width:80px;
  height:16px;
  color:#666666;
}
#u102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:17px;
}
#u103 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u104 {
  position:absolute;
  left:220px;
  top:788px;
  width:80px;
  height:16px;
  color:#666666;
}
#u104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:17px;
}
#u105 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u106 {
  position:absolute;
  left:220px;
  top:832px;
  width:80px;
  height:16px;
  color:#666666;
}
#u106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:17px;
}
#u107 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u108 {
  position:absolute;
  left:220px;
  top:875px;
  width:80px;
  height:16px;
  color:#666666;
}
#u108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:17px;
}
#u109 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u110 {
  position:absolute;
  left:220px;
  top:1073px;
  width:80px;
  height:16px;
  color:#666666;
}
#u110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:17px;
}
#u111 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u112 {
  position:absolute;
  left:220px;
  top:1161px;
  width:90px;
  height:16px;
  color:#666666;
}
#u112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:17px;
}
#u113 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u114 {
  position:absolute;
  left:220px;
  top:1117px;
  width:80px;
  height:16px;
  color:#666666;
}
#u114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:17px;
}
#u115 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u116 {
  position:absolute;
  left:300px;
  top:741px;
  width:364px;
  height:16px;
}
#u116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:365px;
  height:17px;
}
#u117 {
  position:absolute;
  left:0px;
  top:0px;
  width:364px;
  word-wrap:break-word;
}
#u118 {
  position:absolute;
  left:300px;
  top:916px;
  width:364px;
  height:16px;
}
#u118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:365px;
  height:17px;
}
#u119 {
  position:absolute;
  left:0px;
  top:0px;
  width:364px;
  word-wrap:break-word;
}
#u120 {
  position:absolute;
  left:300px;
  top:964px;
  width:140px;
  height:16px;
}
#u120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:17px;
}
#u121 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  word-wrap:break-word;
}
#u122 {
  position:absolute;
  left:300px;
  top:1213px;
  width:730px;
  height:40px;
  line-height:20px;
}
#u122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:731px;
  height:41px;
}
#u123 {
  position:absolute;
  left:0px;
  top:0px;
  width:730px;
  word-wrap:break-word;
}
#u124 {
  position:absolute;
  left:300px;
  top:788px;
  width:364px;
  height:16px;
}
#u124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:365px;
  height:17px;
}
#u125 {
  position:absolute;
  left:0px;
  top:0px;
  width:364px;
  word-wrap:break-word;
}
#u126 {
  position:absolute;
  left:300px;
  top:832px;
  width:364px;
  height:16px;
}
#u126_img {
  position:absolute;
  left:0px;
  top:0px;
  width:365px;
  height:17px;
}
#u127 {
  position:absolute;
  left:0px;
  top:0px;
  width:364px;
  word-wrap:break-word;
}
#u128 {
  position:absolute;
  left:300px;
  top:875px;
  width:364px;
  height:16px;
}
#u128_img {
  position:absolute;
  left:0px;
  top:0px;
  width:365px;
  height:17px;
}
#u129 {
  position:absolute;
  left:0px;
  top:0px;
  width:364px;
  word-wrap:break-word;
}
#u130 {
  position:absolute;
  left:300px;
  top:1073px;
  width:364px;
  height:16px;
}
#u130_img {
  position:absolute;
  left:0px;
  top:0px;
  width:365px;
  height:17px;
}
#u131 {
  position:absolute;
  left:0px;
  top:0px;
  width:364px;
  word-wrap:break-word;
}
#u132 {
  position:absolute;
  left:300px;
  top:1161px;
  width:410px;
  height:16px;
}
#u132_img {
  position:absolute;
  left:0px;
  top:0px;
  width:411px;
  height:17px;
}
#u133 {
  position:absolute;
  left:0px;
  top:0px;
  width:410px;
  word-wrap:break-word;
}
#u134 {
  position:absolute;
  left:300px;
  top:1117px;
  width:364px;
  height:16px;
}
#u134_img {
  position:absolute;
  left:0px;
  top:0px;
  width:365px;
  height:17px;
}
#u135 {
  position:absolute;
  left:0px;
  top:0px;
  width:364px;
  word-wrap:break-word;
}
#u136 {
  position:absolute;
  left:220px;
  top:1000px;
  width:80px;
  height:16px;
  color:#666666;
}
#u136_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:17px;
}
#u137 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u138 {
  position:absolute;
  left:300px;
  top:1000px;
  width:140px;
  height:16px;
}
#u138_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:17px;
}
#u139 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  word-wrap:break-word;
}
#u140 {
  position:absolute;
  left:220px;
  top:1036px;
  width:80px;
  height:16px;
  color:#666666;
}
#u140_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:17px;
}
#u141 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u142 {
  position:absolute;
  left:300px;
  top:1036px;
  width:364px;
  height:16px;
}
#u142_img {
  position:absolute;
  left:0px;
  top:0px;
  width:365px;
  height:17px;
}
#u143 {
  position:absolute;
  left:0px;
  top:0px;
  width:364px;
  word-wrap:break-word;
}
