body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1240px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:281px;
  top:80px;
  width:137px;
  height:40px;
  font-family:'微软雅黑 Regular', '微软雅黑';
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:41px;
}
#u1 {
  position:absolute;
  left:2px;
  top:10px;
  width:133px;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:418px;
  top:80px;
  width:137px;
  height:40px;
  font-family:'微软雅黑 Regular', '微软雅黑';
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:41px;
}
#u3 {
  position:absolute;
  left:2px;
  top:10px;
  width:133px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:555px;
  top:80px;
  width:137px;
  height:40px;
  font-family:'微软雅黑 Regular', '微软雅黑';
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:41px;
}
#u5 {
  position:absolute;
  left:2px;
  top:10px;
  width:133px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:829px;
  top:80px;
  width:137px;
  height:40px;
  font-family:'微软雅黑 Regular', '微软雅黑';
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:41px;
}
#u7 {
  position:absolute;
  left:2px;
  top:10px;
  width:133px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:692px;
  top:80px;
  width:137px;
  height:40px;
  font-family:'微软雅黑 Regular', '微软雅黑';
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:41px;
}
#u9 {
  position:absolute;
  left:2px;
  top:10px;
  width:133px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:144px;
  top:80px;
  width:137px;
  height:40px;
  font-family:'微软雅黑 Regular', '微软雅黑';
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:41px;
}
#u11 {
  position:absolute;
  left:2px;
  top:10px;
  width:133px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:966px;
  top:80px;
  width:137px;
  height:40px;
  font-family:'微软雅黑 Regular', '微软雅黑';
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:41px;
}
#u13 {
  position:absolute;
  left:2px;
  top:10px;
  width:133px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:1103px;
  top:80px;
  width:137px;
  height:40px;
  font-family:'微软雅黑 Regular', '微软雅黑';
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:41px;
}
#u15 {
  position:absolute;
  left:2px;
  top:10px;
  width:133px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:144px;
  top:130px;
  width:1096px;
  height:380px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1097px;
  height:381px;
}
#u17 {
  position:absolute;
  left:2px;
  top:174px;
  width:1092px;
  word-wrap:break-word;
}
