body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1400px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:1400px;
  height:90px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1401px;
  height:91px;
}
#u2 {
  position:absolute;
  left:2px;
  top:37px;
  width:1396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:200px;
  top:15px;
  width:200px;
  height:60px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:61px;
}
#u4 {
  position:absolute;
  left:2px;
  top:22px;
  width:196px;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:0px;
  top:90px;
  width:1400px;
  height:35px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1401px;
  height:36px;
}
#u6 {
  position:absolute;
  left:2px;
  top:10px;
  width:1396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:200px;
  top:90px;
  width:130px;
  height:35px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:36px;
}
#u8 {
  position:absolute;
  left:2px;
  top:10px;
  width:126px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:330px;
  top:90px;
  width:130px;
  height:35px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:36px;
}
#u10 {
  position:absolute;
  left:2px;
  top:10px;
  width:126px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:460px;
  top:90px;
  width:130px;
  height:35px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:36px;
}
#u12 {
  position:absolute;
  left:2px;
  top:10px;
  width:126px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:590px;
  top:90px;
  width:130px;
  height:35px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:36px;
}
#u14 {
  position:absolute;
  left:2px;
  top:10px;
  width:126px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:720px;
  top:90px;
  width:130px;
  height:35px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:36px;
}
#u16 {
  position:absolute;
  left:2px;
  top:10px;
  width:126px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:850px;
  top:90px;
  width:130px;
  height:35px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:36px;
}
#u18 {
  position:absolute;
  left:2px;
  top:10px;
  width:126px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:980px;
  top:90px;
  width:130px;
  height:35px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:36px;
}
#u20 {
  position:absolute;
  left:2px;
  top:10px;
  width:126px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:940px;
  top:15px;
  width:260px;
  height:16px;
  text-align:right;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:17px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:200px;
  top:160px;
  width:1000px;
  height:400px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1001px;
  height:401px;
}
#u25 {
  position:absolute;
  left:2px;
  top:192px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:230px;
  top:180px;
  width:73px;
  height:22px;
  font-size:18px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:23px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u28 {
  position:absolute;
  left:300px;
  top:224px;
  width:60px;
  height:16px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:17px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:300px;
  top:257px;
  width:60px;
  height:16px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:17px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:370px;
  top:252px;
  width:130px;
  height:25px;
}
#u32_input {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:25px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u33 {
  position:absolute;
  left:510px;
  top:257px;
  width:260px;
  height:16px;
  color:#008000;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:17px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:370px;
  top:223px;
  width:104px;
  height:16px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:17px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:300px;
  top:290px;
  width:70px;
  height:16px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:17px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:370px;
  top:290px;
  width:104px;
  height:16px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:17px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:300px;
  top:324px;
  width:70px;
  height:16px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:17px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:370px;
  top:324px;
  width:104px;
  height:16px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:17px;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:300px;
  top:354px;
  width:70px;
  height:16px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:17px;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:370px;
  top:354px;
  width:104px;
  height:16px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:17px;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:300px;
  top:384px;
  width:70px;
  height:16px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:17px;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:370px;
  top:384px;
  width:104px;
  height:16px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:17px;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:300px;
  top:490px;
  width:120px;
  height:40px;
}
#u53_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background-image:url(../../resources/images/transparent.gif);
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u55 {
  position:absolute;
  left:0px;
  top:590px;
  width:1400px;
  height:40px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1401px;
  height:41px;
}
#u56 {
  position:absolute;
  left:2px;
  top:12px;
  width:1396px;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:300px;
  top:420px;
  width:340px;
  height:16px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:341px;
  height:17px;
}
#u58 {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:300px;
  top:454px;
  width:340px;
  height:16px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:341px;
  height:17px;
}
#u60 {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:370px;
  top:416px;
  width:200px;
  height:24px;
  font-size:20px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:25px;
}
#u62 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:370px;
  top:450px;
  width:200px;
  height:24px;
  font-size:20px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:25px;
}
#u64 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
