body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1400px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:200px;
  top:816px;
  width:260px;
  height:234px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:235px;
}
#u1 {
  position:absolute;
  left:2px;
  top:109px;
  width:256px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:0px;
  top:150px;
  width:1400px;
  height:40px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1401px;
  height:41px;
}
#u4 {
  position:absolute;
  left:2px;
  top:12px;
  width:1396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:325px;
  top:150px;
  width:125px;
  height:40px;
  font-family:'微软雅黑 Regular', '微软雅黑';
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:41px;
}
#u6 {
  position:absolute;
  left:2px;
  top:10px;
  width:121px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:450px;
  top:150px;
  width:125px;
  height:40px;
  font-family:'微软雅黑 Regular', '微软雅黑';
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:41px;
}
#u8 {
  position:absolute;
  left:2px;
  top:10px;
  width:121px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:575px;
  top:150px;
  width:125px;
  height:40px;
  font-family:'微软雅黑 Regular', '微软雅黑';
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:41px;
}
#u10 {
  position:absolute;
  left:2px;
  top:10px;
  width:121px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:825px;
  top:150px;
  width:125px;
  height:40px;
  font-family:'微软雅黑 Regular', '微软雅黑';
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:41px;
}
#u12 {
  position:absolute;
  left:2px;
  top:10px;
  width:121px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:700px;
  top:150px;
  width:125px;
  height:40px;
  font-family:'微软雅黑 Regular', '微软雅黑';
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:41px;
}
#u14 {
  position:absolute;
  left:2px;
  top:10px;
  width:121px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:200px;
  top:150px;
  width:125px;
  height:40px;
  font-family:'微软雅黑 Regular', '微软雅黑';
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:41px;
}
#u16 {
  position:absolute;
  left:2px;
  top:10px;
  width:121px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:950px;
  top:150px;
  width:125px;
  height:40px;
  font-family:'微软雅黑 Regular', '微软雅黑';
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:41px;
}
#u18 {
  position:absolute;
  left:2px;
  top:10px;
  width:121px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:1075px;
  top:150px;
  width:125px;
  height:40px;
  font-family:'微软雅黑 Regular', '微软雅黑';
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:41px;
}
#u20 {
  position:absolute;
  left:2px;
  top:10px;
  width:121px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:1400px;
  height:35px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1401px;
  height:36px;
}
#u22 {
  position:absolute;
  left:2px;
  top:10px;
  width:1396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:200px;
  top:10px;
  width:340px;
  height:16px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:341px;
  height:17px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:660px;
  top:6px;
  width:540px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  text-align:right;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:541px;
  height:20px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:540px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:200px;
  top:50px;
  width:150px;
  height:70px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:71px;
}
#u28 {
  position:absolute;
  left:2px;
  top:27px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:370px;
  top:77px;
  width:130px;
  height:28px;
  font-size:24px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:29px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:200px;
  top:220px;
  width:260px;
  height:360px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:361px;
}
#u32 {
  position:absolute;
  left:2px;
  top:172px;
  width:256px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:220px;
  top:240px;
  width:220px;
  height:100px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:101px;
}
#u34 {
  position:absolute;
  left:2px;
  top:42px;
  width:216px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:220px;
  top:360px;
  width:180px;
  height:16px;
  font-size:14px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:17px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:220px;
  top:396px;
  width:200px;
  height:48px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:49px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:220px;
  top:476px;
  width:200px;
  height:64px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:65px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:200px;
  top:610px;
  width:260px;
  height:180px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:181px;
}
#u42 {
  position:absolute;
  left:2px;
  top:82px;
  width:256px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:210px;
  top:624px;
  width:140px;
  height:19px;
  font-size:16px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:20px;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:220px;
  top:670px;
  width:220px;
  height:90px;
  font-size:14px;
  line-height:30px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:91px;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:480px;
  top:220px;
  width:720px;
  height:570px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:721px;
  height:571px;
}
#u48 {
  position:absolute;
  left:2px;
  top:277px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:480px;
  top:841px;
  width:150px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:16px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:20px;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:0px;
  top:1665px;
  width:1400px;
  height:100px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1401px;
  height:101px;
}
#u53 {
  position:absolute;
  left:2px;
  top:42px;
  width:1396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:0px;
  top:1660px;
  width:1400px;
  height:10px;
}
#u54_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u54_end {
  position:absolute;
  left:1391px;
  top:-5px;
  width:14px;
  height:20px;
}
#u54_line {
  position:absolute;
  left:0px;
  top:4px;
  width:1400px;
  height:2px;
}
#u55 {
  position:absolute;
  left:346px;
  top:1695px;
  width:708px;
  height:40px;
  text-align:center;
  line-height:20px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:709px;
  height:41px;
}
#u56 {
  position:absolute;
  left:0px;
  top:0px;
  width:708px;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:510px;
  top:276px;
  width:670px;
  height:125px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:671px;
  height:126px;
}
#u58 {
  position:absolute;
  left:2px;
  top:54px;
  width:666px;
  visibility:hidden;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:523px;
  top:290px;
  width:127px;
  height:16px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:17px;
}
#u60 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:523px;
  top:324px;
  width:90px;
  height:16px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:17px;
}
#u62 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:673px;
  top:324px;
  width:147px;
  height:16px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:17px;
}
#u64 {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:673px;
  top:290px;
  width:127px;
  height:16px;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:17px;
}
#u66 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:810px;
  top:290px;
  width:127px;
  height:16px;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:17px;
}
#u68 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:983px;
  top:290px;
  width:127px;
  height:16px;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:17px;
}
#u70 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:510px;
  top:401px;
  width:670px;
  height:40px;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:671px;
  height:41px;
}
#u72 {
  position:absolute;
  left:2px;
  top:12px;
  width:666px;
  visibility:hidden;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:523px;
  top:413px;
  width:127px;
  height:16px;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:17px;
}
#u74 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:673px;
  top:413px;
  width:127px;
  height:16px;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:17px;
}
#u76 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:810px;
  top:413px;
  width:127px;
  height:16px;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:17px;
}
#u78 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:983px;
  top:413px;
  width:127px;
  height:16px;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:17px;
}
#u80 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  word-wrap:break-word;
}
#u81 {
  position:absolute;
  left:510px;
  top:441px;
  width:670px;
  height:40px;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:671px;
  height:41px;
}
#u82 {
  position:absolute;
  left:2px;
  top:12px;
  width:666px;
  visibility:hidden;
  word-wrap:break-word;
}
#u83 {
  position:absolute;
  left:523px;
  top:453px;
  width:127px;
  height:16px;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:17px;
}
#u84 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  word-wrap:break-word;
}
#u85 {
  position:absolute;
  left:673px;
  top:453px;
  width:127px;
  height:16px;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:17px;
}
#u86 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  word-wrap:break-word;
}
#u87 {
  position:absolute;
  left:810px;
  top:453px;
  width:127px;
  height:16px;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:17px;
}
#u88 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  word-wrap:break-word;
}
#u89 {
  position:absolute;
  left:983px;
  top:453px;
  width:127px;
  height:16px;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:17px;
}
#u90 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  word-wrap:break-word;
}
#u91 {
  position:absolute;
  left:510px;
  top:480px;
  width:670px;
  height:40px;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:671px;
  height:41px;
}
#u92 {
  position:absolute;
  left:2px;
  top:12px;
  width:666px;
  visibility:hidden;
  word-wrap:break-word;
}
#u93 {
  position:absolute;
  left:523px;
  top:492px;
  width:127px;
  height:16px;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:17px;
}
#u94 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  word-wrap:break-word;
}
#u95 {
  position:absolute;
  left:673px;
  top:492px;
  width:127px;
  height:16px;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:17px;
}
#u96 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  word-wrap:break-word;
}
#u97 {
  position:absolute;
  left:810px;
  top:492px;
  width:127px;
  height:16px;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:17px;
}
#u98 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  word-wrap:break-word;
}
#u99 {
  position:absolute;
  left:983px;
  top:492px;
  width:127px;
  height:16px;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:17px;
}
#u100 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  word-wrap:break-word;
}
#u101 {
  position:absolute;
  left:510px;
  top:520px;
  width:670px;
  height:40px;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:671px;
  height:41px;
}
#u102 {
  position:absolute;
  left:2px;
  top:12px;
  width:666px;
  visibility:hidden;
  word-wrap:break-word;
}
#u103 {
  position:absolute;
  left:523px;
  top:532px;
  width:127px;
  height:16px;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:17px;
}
#u104 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  word-wrap:break-word;
}
#u105 {
  position:absolute;
  left:673px;
  top:532px;
  width:127px;
  height:16px;
}
#u105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:17px;
}
#u106 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  word-wrap:break-word;
}
#u107 {
  position:absolute;
  left:810px;
  top:532px;
  width:127px;
  height:16px;
}
#u107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:17px;
}
#u108 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  word-wrap:break-word;
}
#u109 {
  position:absolute;
  left:983px;
  top:532px;
  width:127px;
  height:16px;
}
#u109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:17px;
}
#u110 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  word-wrap:break-word;
}
#u111 {
  position:absolute;
  left:510px;
  top:559px;
  width:670px;
  height:40px;
}
#u111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:671px;
  height:41px;
}
#u112 {
  position:absolute;
  left:2px;
  top:12px;
  width:666px;
  visibility:hidden;
  word-wrap:break-word;
}
#u113 {
  position:absolute;
  left:523px;
  top:571px;
  width:127px;
  height:16px;
}
#u113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:17px;
}
#u114 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  word-wrap:break-word;
}
#u115 {
  position:absolute;
  left:673px;
  top:571px;
  width:127px;
  height:16px;
}
#u115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:17px;
}
#u116 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  word-wrap:break-word;
}
#u117 {
  position:absolute;
  left:810px;
  top:571px;
  width:127px;
  height:16px;
}
#u117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:17px;
}
#u118 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  word-wrap:break-word;
}
#u119 {
  position:absolute;
  left:983px;
  top:571px;
  width:127px;
  height:16px;
}
#u119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:17px;
}
#u120 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  word-wrap:break-word;
}
#u121 {
  position:absolute;
  left:510px;
  top:599px;
  width:670px;
  height:40px;
}
#u121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:671px;
  height:41px;
}
#u122 {
  position:absolute;
  left:2px;
  top:12px;
  width:666px;
  visibility:hidden;
  word-wrap:break-word;
}
#u123 {
  position:absolute;
  left:523px;
  top:611px;
  width:127px;
  height:16px;
}
#u123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:17px;
}
#u124 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  word-wrap:break-word;
}
#u125 {
  position:absolute;
  left:673px;
  top:611px;
  width:127px;
  height:16px;
}
#u125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:17px;
}
#u126 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  word-wrap:break-word;
}
#u127 {
  position:absolute;
  left:810px;
  top:611px;
  width:127px;
  height:16px;
}
#u127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:17px;
}
#u128 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  word-wrap:break-word;
}
#u129 {
  position:absolute;
  left:983px;
  top:611px;
  width:127px;
  height:16px;
}
#u129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:17px;
}
#u130 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  word-wrap:break-word;
}
#u131 {
  position:absolute;
  left:523px;
  top:360px;
  width:637px;
  height:16px;
}
#u131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:638px;
  height:17px;
}
#u132 {
  position:absolute;
  left:0px;
  top:0px;
  width:637px;
  word-wrap:break-word;
}
#u133 {
  position:absolute;
  left:510px;
  top:639px;
  width:670px;
  height:40px;
}
#u133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:671px;
  height:41px;
}
#u134 {
  position:absolute;
  left:2px;
  top:12px;
  width:666px;
  visibility:hidden;
  word-wrap:break-word;
}
#u135 {
  position:absolute;
  left:523px;
  top:651px;
  width:127px;
  height:16px;
}
#u135_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:17px;
}
#u136 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  word-wrap:break-word;
}
#u137 {
  position:absolute;
  left:673px;
  top:651px;
  width:127px;
  height:16px;
}
#u137_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:17px;
}
#u138 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  word-wrap:break-word;
}
#u139 {
  position:absolute;
  left:810px;
  top:651px;
  width:127px;
  height:16px;
}
#u139_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:17px;
}
#u140 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  word-wrap:break-word;
}
#u141 {
  position:absolute;
  left:983px;
  top:651px;
  width:127px;
  height:16px;
}
#u141_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:17px;
}
#u142 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  word-wrap:break-word;
}
#u143 {
  position:absolute;
  left:510px;
  top:679px;
  width:670px;
  height:40px;
}
#u143_img {
  position:absolute;
  left:0px;
  top:0px;
  width:671px;
  height:41px;
}
#u144 {
  position:absolute;
  left:2px;
  top:12px;
  width:666px;
  visibility:hidden;
  word-wrap:break-word;
}
#u145 {
  position:absolute;
  left:523px;
  top:691px;
  width:127px;
  height:16px;
}
#u145_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:17px;
}
#u146 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  word-wrap:break-word;
}
#u147 {
  position:absolute;
  left:673px;
  top:691px;
  width:127px;
  height:16px;
}
#u147_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:17px;
}
#u148 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  word-wrap:break-word;
}
#u149 {
  position:absolute;
  left:810px;
  top:691px;
  width:127px;
  height:16px;
}
#u149_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:17px;
}
#u150 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  word-wrap:break-word;
}
#u151 {
  position:absolute;
  left:983px;
  top:691px;
  width:127px;
  height:16px;
}
#u151_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:17px;
}
#u152 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  word-wrap:break-word;
}
#u153 {
  position:absolute;
  left:698px;
  top:744px;
  width:48px;
  height:25px;
}
#u153_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:26px;
}
#u154 {
  position:absolute;
  left:2px;
  top:4px;
  width:44px;
  word-wrap:break-word;
}
#u155 {
  position:absolute;
  left:756px;
  top:744px;
  width:30px;
  height:25px;
}
#u155_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:26px;
}
#u156 {
  position:absolute;
  left:2px;
  top:4px;
  width:26px;
  word-wrap:break-word;
}
#u157 {
  position:absolute;
  left:790px;
  top:744px;
  width:30px;
  height:25px;
}
#u157_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:26px;
}
#u158 {
  position:absolute;
  left:2px;
  top:4px;
  width:26px;
  word-wrap:break-word;
}
#u159 {
  position:absolute;
  left:826px;
  top:744px;
  width:30px;
  height:25px;
}
#u159_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:26px;
}
#u160 {
  position:absolute;
  left:2px;
  top:4px;
  width:26px;
  word-wrap:break-word;
}
#u161 {
  position:absolute;
  left:860px;
  top:744px;
  width:30px;
  height:25px;
}
#u161_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:26px;
}
#u162 {
  position:absolute;
  left:2px;
  top:4px;
  width:26px;
  word-wrap:break-word;
}
#u163 {
  position:absolute;
  left:894px;
  top:744px;
  width:30px;
  height:25px;
}
#u163_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:26px;
}
#u164 {
  position:absolute;
  left:2px;
  top:4px;
  width:26px;
  word-wrap:break-word;
}
#u165 {
  position:absolute;
  left:934px;
  top:744px;
  width:48px;
  height:25px;
}
#u165_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:26px;
}
#u166 {
  position:absolute;
  left:2px;
  top:4px;
  width:44px;
  word-wrap:break-word;
}
#u167 {
  position:absolute;
  left:480px;
  top:890px;
  width:720px;
  height:750px;
}
#u167_img {
  position:absolute;
  left:0px;
  top:0px;
  width:721px;
  height:751px;
}
#u168 {
  position:absolute;
  left:2px;
  top:367px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u169 {
  position:absolute;
  left:490px;
  top:952px;
  width:148px;
  height:32px;
}
#u169_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:33px;
}
#u170 {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  word-wrap:break-word;
}
#u171 {
  position:absolute;
  left:490px;
  top:902px;
  width:59px;
  height:16px;
  color:#008000;
}
#u171_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:17px;
}
#u172 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  word-wrap:break-word;
}
#u173 {
  position:absolute;
  left:687px;
  top:902px;
  width:59px;
  height:16px;
  color:#008000;
}
#u173_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:17px;
}
#u174 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  word-wrap:break-word;
}
#u175 {
  position:absolute;
  left:815px;
  top:902px;
  width:59px;
  height:16px;
  color:#008000;
}
#u175_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:17px;
}
#u176 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  word-wrap:break-word;
}
#u177 {
  position:absolute;
  left:1002px;
  top:902px;
  width:59px;
  height:16px;
  color:#008000;
}
#u177_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:17px;
}
#u178 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  word-wrap:break-word;
}
#u179 {
  position:absolute;
  left:1151px;
  top:902px;
  width:59px;
  height:16px;
  color:#008000;
}
#u179_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:17px;
}
#u180 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  word-wrap:break-word;
}
#u181 {
  position:absolute;
  left:687px;
  top:952px;
  width:69px;
  height:32px;
}
#u181_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:33px;
}
#u182 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  word-wrap:break-word;
}
#u183 {
  position:absolute;
  left:815px;
  top:952px;
  width:119px;
  height:16px;
}
#u183_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:17px;
}
#u184 {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  word-wrap:break-word;
}
#u185 {
  position:absolute;
  left:815px;
  top:972px;
  width:119px;
  height:16px;
}
#u185_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:17px;
}
#u186 {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  word-wrap:break-word;
}
#u187 {
  position:absolute;
  left:815px;
  top:994px;
  width:119px;
  height:16px;
}
#u187_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:17px;
}
#u188 {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  word-wrap:break-word;
}
#u189 {
  position:absolute;
  left:1002px;
  top:952px;
  width:100px;
  height:32px;
}
#u189_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:33px;
}
#u190 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u191 {
  position:absolute;
  left:490px;
  top:936px;
  width:706px;
  height:10px;
}
#u191_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u191_end {
  position:absolute;
  left:697px;
  top:-5px;
  width:14px;
  height:20px;
}
#u191_line {
  position:absolute;
  left:0px;
  top:5px;
  width:706px;
  height:1px;
}
#u192 {
  position:absolute;
  left:1127px;
  top:952px;
  width:69px;
  height:16px;
  color:#000000;
  text-align:center;
}
#u192_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:17px;
}
#u193 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  word-wrap:break-word;
}
#u195 {
  position:absolute;
  left:510px;
  top:238px;
  width:150px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:16px;
}
#u195_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:20px;
}
#u196 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u197 {
  position:absolute;
  left:1131px;
  top:978px;
  width:61px;
  height:31px;
}
#u197_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:31px;
}
#u198 {
  position:absolute;
  left:2px;
  top:8px;
  width:57px;
  visibility:hidden;
  word-wrap:break-word;
}
#u199 {
  position:absolute;
  left:490px;
  top:1043px;
  width:148px;
  height:32px;
}
#u199_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:33px;
}
#u200 {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  word-wrap:break-word;
}
#u201 {
  position:absolute;
  left:687px;
  top:1043px;
  width:69px;
  height:32px;
}
#u201_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:33px;
}
#u202 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  word-wrap:break-word;
}
#u203 {
  position:absolute;
  left:815px;
  top:1043px;
  width:119px;
  height:16px;
}
#u203_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:17px;
}
#u204 {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  word-wrap:break-word;
}
#u205 {
  position:absolute;
  left:815px;
  top:1063px;
  width:119px;
  height:16px;
}
#u205_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:17px;
}
#u206 {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  word-wrap:break-word;
}
#u207 {
  position:absolute;
  left:815px;
  top:1085px;
  width:119px;
  height:16px;
}
#u207_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:17px;
}
#u208 {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  word-wrap:break-word;
}
#u209 {
  position:absolute;
  left:1002px;
  top:1043px;
  width:100px;
  height:32px;
}
#u209_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:33px;
}
#u210 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u211 {
  position:absolute;
  left:1127px;
  top:1043px;
  width:69px;
  height:16px;
  color:#000000;
  text-align:center;
}
#u211_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:17px;
}
#u212 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  word-wrap:break-word;
}
#u214 {
  position:absolute;
  left:1131px;
  top:1069px;
  width:61px;
  height:31px;
}
#u214_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:31px;
}
#u215 {
  position:absolute;
  left:2px;
  top:8px;
  width:57px;
  visibility:hidden;
  word-wrap:break-word;
}
#u216 {
  position:absolute;
  left:490px;
  top:1134px;
  width:148px;
  height:32px;
}
#u216_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:33px;
}
#u217 {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  word-wrap:break-word;
}
#u218 {
  position:absolute;
  left:687px;
  top:1134px;
  width:69px;
  height:32px;
}
#u218_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:33px;
}
#u219 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  word-wrap:break-word;
}
#u220 {
  position:absolute;
  left:815px;
  top:1134px;
  width:119px;
  height:16px;
}
#u220_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:17px;
}
#u221 {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  word-wrap:break-word;
}
#u222 {
  position:absolute;
  left:815px;
  top:1154px;
  width:119px;
  height:16px;
}
#u222_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:17px;
}
#u223 {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  word-wrap:break-word;
}
#u224 {
  position:absolute;
  left:815px;
  top:1176px;
  width:119px;
  height:16px;
}
#u224_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:17px;
}
#u225 {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  word-wrap:break-word;
}
#u226 {
  position:absolute;
  left:1002px;
  top:1134px;
  width:100px;
  height:32px;
}
#u226_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:33px;
}
#u227 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u228 {
  position:absolute;
  left:1127px;
  top:1134px;
  width:69px;
  height:16px;
  color:#000000;
  text-align:center;
}
#u228_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:17px;
}
#u229 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  word-wrap:break-word;
}
#u231 {
  position:absolute;
  left:1131px;
  top:1160px;
  width:61px;
  height:31px;
}
#u231_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:31px;
}
#u232 {
  position:absolute;
  left:2px;
  top:8px;
  width:57px;
  visibility:hidden;
  word-wrap:break-word;
}
#u233 {
  position:absolute;
  left:490px;
  top:1224px;
  width:148px;
  height:32px;
}
#u233_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:33px;
}
#u234 {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  word-wrap:break-word;
}
#u235 {
  position:absolute;
  left:687px;
  top:1224px;
  width:69px;
  height:32px;
}
#u235_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:33px;
}
#u236 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  word-wrap:break-word;
}
#u237 {
  position:absolute;
  left:815px;
  top:1224px;
  width:119px;
  height:16px;
}
#u237_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:17px;
}
#u238 {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  word-wrap:break-word;
}
#u239 {
  position:absolute;
  left:815px;
  top:1244px;
  width:119px;
  height:16px;
}
#u239_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:17px;
}
#u240 {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  word-wrap:break-word;
}
#u241 {
  position:absolute;
  left:815px;
  top:1266px;
  width:119px;
  height:16px;
}
#u241_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:17px;
}
#u242 {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  word-wrap:break-word;
}
#u243 {
  position:absolute;
  left:1002px;
  top:1224px;
  width:100px;
  height:32px;
}
#u243_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:33px;
}
#u244 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u245 {
  position:absolute;
  left:1127px;
  top:1224px;
  width:69px;
  height:16px;
  color:#000000;
  text-align:center;
}
#u245_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:17px;
}
#u246 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  word-wrap:break-word;
}
#u248 {
  position:absolute;
  left:1131px;
  top:1250px;
  width:61px;
  height:31px;
}
#u248_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:31px;
}
#u249 {
  position:absolute;
  left:2px;
  top:8px;
  width:57px;
  visibility:hidden;
  word-wrap:break-word;
}
#u250 {
  position:absolute;
  left:490px;
  top:1315px;
  width:148px;
  height:32px;
}
#u250_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:33px;
}
#u251 {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  word-wrap:break-word;
}
#u252 {
  position:absolute;
  left:687px;
  top:1315px;
  width:69px;
  height:32px;
}
#u252_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:33px;
}
#u253 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  word-wrap:break-word;
}
#u254 {
  position:absolute;
  left:815px;
  top:1315px;
  width:119px;
  height:16px;
}
#u254_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:17px;
}
#u255 {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  word-wrap:break-word;
}
#u256 {
  position:absolute;
  left:815px;
  top:1335px;
  width:119px;
  height:16px;
}
#u256_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:17px;
}
#u257 {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  word-wrap:break-word;
}
#u258 {
  position:absolute;
  left:815px;
  top:1357px;
  width:119px;
  height:16px;
}
#u258_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:17px;
}
#u259 {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  word-wrap:break-word;
}
#u260 {
  position:absolute;
  left:1002px;
  top:1315px;
  width:100px;
  height:32px;
}
#u260_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:33px;
}
#u261 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u262 {
  position:absolute;
  left:1127px;
  top:1315px;
  width:69px;
  height:16px;
  color:#000000;
  text-align:center;
}
#u262_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:17px;
}
#u263 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  word-wrap:break-word;
}
#u265 {
  position:absolute;
  left:1131px;
  top:1341px;
  width:61px;
  height:31px;
}
#u265_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:31px;
}
#u266 {
  position:absolute;
  left:2px;
  top:8px;
  width:57px;
  visibility:hidden;
  word-wrap:break-word;
}
#u267 {
  position:absolute;
  left:490px;
  top:1406px;
  width:148px;
  height:32px;
}
#u267_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:33px;
}
#u268 {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  word-wrap:break-word;
}
#u269 {
  position:absolute;
  left:687px;
  top:1406px;
  width:69px;
  height:32px;
}
#u269_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:33px;
}
#u270 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  word-wrap:break-word;
}
#u271 {
  position:absolute;
  left:815px;
  top:1406px;
  width:119px;
  height:16px;
}
#u271_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:17px;
}
#u272 {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  word-wrap:break-word;
}
#u273 {
  position:absolute;
  left:815px;
  top:1426px;
  width:119px;
  height:16px;
}
#u273_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:17px;
}
#u274 {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  word-wrap:break-word;
}
#u275 {
  position:absolute;
  left:815px;
  top:1448px;
  width:119px;
  height:16px;
}
#u275_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:17px;
}
#u276 {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  word-wrap:break-word;
}
#u277 {
  position:absolute;
  left:1002px;
  top:1406px;
  width:100px;
  height:32px;
}
#u277_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:33px;
}
#u278 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u279 {
  position:absolute;
  left:1127px;
  top:1406px;
  width:69px;
  height:16px;
  color:#000000;
  text-align:center;
}
#u279_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:17px;
}
#u280 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  word-wrap:break-word;
}
#u282 {
  position:absolute;
  left:1131px;
  top:1432px;
  width:61px;
  height:31px;
}
#u282_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:31px;
}
#u283 {
  position:absolute;
  left:2px;
  top:8px;
  width:57px;
  visibility:hidden;
  word-wrap:break-word;
}
#u284 {
  position:absolute;
  left:490px;
  top:1497px;
  width:148px;
  height:32px;
}
#u284_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:33px;
}
#u285 {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  word-wrap:break-word;
}
#u286 {
  position:absolute;
  left:687px;
  top:1497px;
  width:69px;
  height:32px;
}
#u286_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:33px;
}
#u287 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  word-wrap:break-word;
}
#u288 {
  position:absolute;
  left:815px;
  top:1497px;
  width:119px;
  height:16px;
}
#u288_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:17px;
}
#u289 {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  word-wrap:break-word;
}
#u290 {
  position:absolute;
  left:815px;
  top:1517px;
  width:119px;
  height:16px;
}
#u290_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:17px;
}
#u291 {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  word-wrap:break-word;
}
#u292 {
  position:absolute;
  left:815px;
  top:1539px;
  width:119px;
  height:16px;
}
#u292_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:17px;
}
#u293 {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  word-wrap:break-word;
}
#u294 {
  position:absolute;
  left:1002px;
  top:1497px;
  width:100px;
  height:32px;
}
#u294_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:33px;
}
#u295 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u296 {
  position:absolute;
  left:1127px;
  top:1497px;
  width:69px;
  height:16px;
  color:#000000;
  text-align:center;
}
#u296_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:17px;
}
#u297 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  word-wrap:break-word;
}
#u299 {
  position:absolute;
  left:1131px;
  top:1523px;
  width:61px;
  height:31px;
}
#u299_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:31px;
}
#u300 {
  position:absolute;
  left:2px;
  top:8px;
  width:57px;
  visibility:hidden;
  word-wrap:break-word;
}
#u301 {
  position:absolute;
  left:490px;
  top:1021px;
  width:706px;
  height:10px;
}
#u301_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u301_end {
  position:absolute;
  left:697px;
  top:-5px;
  width:14px;
  height:20px;
}
#u301_line {
  position:absolute;
  left:0px;
  top:5px;
  width:706px;
  height:1px;
}
#u302 {
  position:absolute;
  left:490px;
  top:1112px;
  width:706px;
  height:10px;
}
#u302_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u302_end {
  position:absolute;
  left:697px;
  top:-5px;
  width:14px;
  height:20px;
}
#u302_line {
  position:absolute;
  left:0px;
  top:5px;
  width:706px;
  height:1px;
}
#u303 {
  position:absolute;
  left:490px;
  top:1203px;
  width:706px;
  height:10px;
}
#u303_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u303_end {
  position:absolute;
  left:697px;
  top:-5px;
  width:14px;
  height:20px;
}
#u303_line {
  position:absolute;
  left:0px;
  top:5px;
  width:706px;
  height:1px;
}
#u304 {
  position:absolute;
  left:490px;
  top:1294px;
  width:706px;
  height:10px;
}
#u304_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u304_end {
  position:absolute;
  left:697px;
  top:-5px;
  width:14px;
  height:20px;
}
#u304_line {
  position:absolute;
  left:0px;
  top:5px;
  width:706px;
  height:1px;
}
#u305 {
  position:absolute;
  left:494px;
  top:1385px;
  width:706px;
  height:10px;
}
#u305_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u305_end {
  position:absolute;
  left:697px;
  top:-5px;
  width:14px;
  height:20px;
}
#u305_line {
  position:absolute;
  left:0px;
  top:5px;
  width:706px;
  height:1px;
}
#u306 {
  position:absolute;
  left:490px;
  top:1476px;
  width:706px;
  height:10px;
}
#u306_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u306_end {
  position:absolute;
  left:697px;
  top:-5px;
  width:14px;
  height:20px;
}
#u306_line {
  position:absolute;
  left:0px;
  top:5px;
  width:706px;
  height:1px;
}
#u307 {
  position:absolute;
  left:673px;
  top:1595px;
  width:48px;
  height:25px;
}
#u307_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:26px;
}
#u308 {
  position:absolute;
  left:2px;
  top:4px;
  width:44px;
  word-wrap:break-word;
}
#u309 {
  position:absolute;
  left:731px;
  top:1595px;
  width:30px;
  height:25px;
}
#u309_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:26px;
}
#u310 {
  position:absolute;
  left:2px;
  top:4px;
  width:26px;
  word-wrap:break-word;
}
#u311 {
  position:absolute;
  left:765px;
  top:1595px;
  width:30px;
  height:25px;
}
#u311_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:26px;
}
#u312 {
  position:absolute;
  left:2px;
  top:4px;
  width:26px;
  word-wrap:break-word;
}
#u313 {
  position:absolute;
  left:801px;
  top:1595px;
  width:30px;
  height:25px;
}
#u313_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:26px;
}
#u314 {
  position:absolute;
  left:2px;
  top:4px;
  width:26px;
  word-wrap:break-word;
}
#u315 {
  position:absolute;
  left:835px;
  top:1595px;
  width:30px;
  height:25px;
}
#u315_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:26px;
}
#u316 {
  position:absolute;
  left:2px;
  top:4px;
  width:26px;
  word-wrap:break-word;
}
#u317 {
  position:absolute;
  left:869px;
  top:1595px;
  width:30px;
  height:25px;
}
#u317_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:26px;
}
#u318 {
  position:absolute;
  left:2px;
  top:4px;
  width:26px;
  word-wrap:break-word;
}
#u319 {
  position:absolute;
  left:909px;
  top:1595px;
  width:48px;
  height:25px;
}
#u319_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:26px;
}
#u320 {
  position:absolute;
  left:2px;
  top:4px;
  width:44px;
  word-wrap:break-word;
}
#u321 {
  position:absolute;
  left:219px;
  top:858px;
  width:167px;
  height:179px;
}
#u321_img {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:179px;
}
#u322 {
  position:absolute;
  left:2px;
  top:82px;
  width:163px;
  visibility:hidden;
  word-wrap:break-word;
}
#u323 {
  position:absolute;
  left:201px;
  top:817px;
  width:259px;
  height:40px;
}
#u323_img {
  position:absolute;
  left:0px;
  top:0px;
  width:259px;
  height:40px;
}
#u324 {
  position:absolute;
  left:2px;
  top:12px;
  width:255px;
  visibility:hidden;
  word-wrap:break-word;
}
