body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1400px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:320px;
  top:217px;
  width:980px;
  height:925px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:981px;
  height:926px;
}
#u1 {
  position:absolute;
  left:2px;
  top:454px;
  width:976px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:638px;
  top:240px;
  width:140px;
  height:40px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:41px;
}
#u3 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:494px;
  top:240px;
  width:140px;
  height:40px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:41px;
}
#u5 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:350px;
  top:275px;
  width:930px;
  height:10px;
}
#u6_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u6_end {
  position:absolute;
  left:921px;
  top:-5px;
  width:14px;
  height:20px;
}
#u6_line {
  position:absolute;
  left:0px;
  top:5px;
  width:930px;
  height:1px;
}
#u8 {
  position:absolute;
  left:100px;
  top:57px;
  width:200px;
  height:75px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:76px;
}
#u9 {
  position:absolute;
  left:2px;
  top:30px;
  width:196px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:421px;
  top:60px;
  width:490px;
  height:35px;
}
#u10_input {
  position:absolute;
  left:0px;
  top:0px;
  width:490px;
  height:35px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u11 {
  position:absolute;
  left:421px;
  top:105px;
  width:600px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:12px;
  color:#008000;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:601px;
  height:18px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:910px;
  top:60px;
  width:100px;
  height:35px;
}
#u13_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:35px;
  background-image:url(../../resources/images/transparent.gif);
  text-align:center;
  font-family:'微软雅黑';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u14 {
  position:absolute;
  left:1150px;
  top:60px;
  width:150px;
  height:50px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:51px;
}
#u15 {
  position:absolute;
  left:2px;
  top:17px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:1160px;
  top:76px;
  width:23px;
  height:17px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:17px;
}
#u17 {
  position:absolute;
  left:2px;
  top:0px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:1196px;
  top:75px;
  width:102px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:14px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:21px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:0px;
  top:156px;
  width:1400px;
  height:40px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1401px;
  height:41px;
}
#u21 {
  position:absolute;
  left:2px;
  top:12px;
  width:1396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:320px;
  top:156px;
  width:122px;
  height:40px;
  font-family:'微软雅黑 Regular', '微软雅黑';
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:41px;
}
#u23 {
  position:absolute;
  left:2px;
  top:10px;
  width:118px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:442px;
  top:156px;
  width:122px;
  height:40px;
  font-family:'微软雅黑 Regular', '微软雅黑';
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:41px;
}
#u25 {
  position:absolute;
  left:2px;
  top:10px;
  width:118px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:564px;
  top:156px;
  width:122px;
  height:40px;
  font-family:'微软雅黑 Regular', '微软雅黑';
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:41px;
}
#u27 {
  position:absolute;
  left:2px;
  top:10px;
  width:118px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:686px;
  top:156px;
  width:122px;
  height:40px;
  font-family:'微软雅黑 Regular', '微软雅黑';
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:41px;
}
#u29 {
  position:absolute;
  left:2px;
  top:10px;
  width:118px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:808px;
  top:156px;
  width:122px;
  height:40px;
  font-family:'微软雅黑 Regular', '微软雅黑';
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:41px;
}
#u31 {
  position:absolute;
  left:2px;
  top:10px;
  width:118px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:930px;
  top:156px;
  width:126px;
  height:40px;
  font-family:'微软雅黑 Regular', '微软雅黑';
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:41px;
}
#u33 {
  position:absolute;
  left:2px;
  top:10px;
  width:122px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:1056px;
  top:156px;
  width:122px;
  height:40px;
  font-family:'微软雅黑 Regular', '微软雅黑';
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:41px;
}
#u35 {
  position:absolute;
  left:2px;
  top:10px;
  width:118px;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:100px;
  top:156px;
  width:220px;
  height:40px;
  font-family:'微软雅黑 Regular', '微软雅黑';
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:41px;
}
#u37 {
  position:absolute;
  left:2px;
  top:10px;
  width:216px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:1178px;
  top:156px;
  width:122px;
  height:40px;
  font-family:'微软雅黑 Regular', '微软雅黑';
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:41px;
}
#u39 {
  position:absolute;
  left:2px;
  top:10px;
  width:118px;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:1400px;
  height:35px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1401px;
  height:36px;
}
#u41 {
  position:absolute;
  left:2px;
  top:10px;
  width:1396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:100px;
  top:11px;
  width:340px;
  height:16px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:341px;
  height:17px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:660px;
  top:6px;
  width:640px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  text-align:right;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:641px;
  height:20px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:0px;
  top:1260px;
  width:1400px;
  height:395px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1401px;
  height:396px;
}
#u48 {
  position:absolute;
  left:2px;
  top:190px;
  width:1396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:502px;
  top:1591px;
  width:389px;
  height:44px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:389px;
  height:44px;
}
#u50 {
  position:absolute;
  left:2px;
  top:14px;
  width:385px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:346px;
  top:1542px;
  width:708px;
  height:40px;
  text-align:center;
  line-height:20px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:709px;
  height:41px;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:708px;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:100px;
  top:1295px;
  width:200px;
  height:75px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:76px;
}
#u54 {
  position:absolute;
  left:2px;
  top:30px;
  width:196px;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:514px;
  top:1295px;
  width:31px;
  height:30px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:30px;
}
#u56 {
  position:absolute;
  left:2px;
  top:7px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:887px;
  top:1295px;
  width:32px;
  height:34px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:34px;
}
#u58 {
  position:absolute;
  left:2px;
  top:9px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:1096px;
  top:1295px;
  width:35px;
  height:30px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:30px;
}
#u60 {
  position:absolute;
  left:2px;
  top:7px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:354px;
  top:1296px;
  width:31px;
  height:30px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:30px;
}
#u62 {
  position:absolute;
  left:2px;
  top:7px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:396px;
  top:1296px;
  width:69px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-size:14px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:21px;
}
#u64 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:396px;
  top:1324px;
  width:69px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:20px;
}
#u66 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:396px;
  top:1352px;
  width:69px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:20px;
}
#u68 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:396px;
  top:1380px;
  width:69px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:20px;
}
#u70 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:396px;
  top:1406px;
  width:69px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:20px;
}
#u72 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:555px;
  top:1295px;
  width:69px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-size:14px;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:21px;
}
#u74 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:555px;
  top:1323px;
  width:69px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:20px;
}
#u76 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:555px;
  top:1351px;
  width:69px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:20px;
}
#u78 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:555px;
  top:1379px;
  width:69px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:20px;
}
#u80 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  word-wrap:break-word;
}
#u81 {
  position:absolute;
  left:694px;
  top:1295px;
  width:33px;
  height:30px;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:30px;
}
#u82 {
  position:absolute;
  left:2px;
  top:7px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u83 {
  position:absolute;
  left:737px;
  top:1295px;
  width:81px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-size:14px;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:21px;
}
#u84 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  word-wrap:break-word;
}
#u85 {
  position:absolute;
  left:737px;
  top:1323px;
  width:69px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:20px;
}
#u86 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  word-wrap:break-word;
}
#u87 {
  position:absolute;
  left:737px;
  top:1351px;
  width:69px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:20px;
}
#u88 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  word-wrap:break-word;
}
#u89 {
  position:absolute;
  left:929px;
  top:1295px;
  width:70px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-size:14px;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:21px;
}
#u90 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u91 {
  position:absolute;
  left:929px;
  top:1323px;
  width:97px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:20px;
}
#u92 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  word-wrap:break-word;
}
#u93 {
  position:absolute;
  left:929px;
  top:1351px;
  width:69px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:20px;
}
#u94 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  word-wrap:break-word;
}
#u95 {
  position:absolute;
  left:1141px;
  top:1295px;
  width:70px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-size:14px;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:21px;
}
#u96 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u97 {
  position:absolute;
  left:1141px;
  top:1323px;
  width:89px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:20px;
}
#u98 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  word-wrap:break-word;
}
#u99 {
  position:absolute;
  left:1141px;
  top:1351px;
  width:89px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:20px;
}
#u100 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  word-wrap:break-word;
}
#u101 {
  position:absolute;
  left:737px;
  top:1380px;
  width:69px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:20px;
}
#u102 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  word-wrap:break-word;
}
#u103 {
  position:absolute;
  left:100px;
  top:1389px;
  width:40px;
  height:27px;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:27px;
}
#u104 {
  position:absolute;
  left:2px;
  top:6px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u105 {
  position:absolute;
  left:147px;
  top:1409px;
  width:153px;
  height:27px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:20px;
  color:#FF6600;
}
#u105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:28px;
}
#u106 {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  word-wrap:break-word;
}
#u107 {
  position:absolute;
  left:147px;
  top:1389px;
  width:157px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
}
#u107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:20px;
}
#u108 {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  word-wrap:break-word;
}
#u109 {
  position:absolute;
  left:929px;
  top:1380px;
  width:97px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
}
#u109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:20px;
}
#u110 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  word-wrap:break-word;
}
#u111 {
  position:absolute;
  left:929px;
  top:1408px;
  width:69px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
}
#u111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:20px;
}
#u112 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  word-wrap:break-word;
}
#u113 {
  position:absolute;
  left:1141px;
  top:1380px;
  width:89px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
}
#u113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:20px;
}
#u114 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  word-wrap:break-word;
}
#u115 {
  position:absolute;
  left:1141px;
  top:1409px;
  width:89px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
}
#u115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:20px;
}
#u116 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  word-wrap:break-word;
}
#u117 {
  position:absolute;
  left:1141px;
  top:1438px;
  width:89px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
}
#u117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:20px;
}
#u118 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  word-wrap:break-word;
}
#u120 {
  position:absolute;
  left:100px;
  top:217px;
  width:195px;
  height:1020px;
}
#u121 {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:65px;
  font-size:18px;
}
#u121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:66px;
}
#u122 {
  position:absolute;
  left:20px;
  top:22px;
  width:168px;
  word-wrap:break-word;
}
#u123 {
  position:absolute;
  left:0px;
  top:65px;
  width:190px;
  height:30px;
}
#u123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:31px;
}
#u124 {
  position:absolute;
  left:20px;
  top:7px;
  width:168px;
  word-wrap:break-word;
}
#u125 {
  position:absolute;
  left:0px;
  top:95px;
  width:190px;
  height:30px;
}
#u125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:31px;
}
#u126 {
  position:absolute;
  left:20px;
  top:7px;
  width:168px;
  word-wrap:break-word;
}
#u127 {
  position:absolute;
  left:0px;
  top:125px;
  width:190px;
  height:30px;
}
#u127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:31px;
}
#u128 {
  position:absolute;
  left:20px;
  top:7px;
  width:168px;
  word-wrap:break-word;
}
#u129 {
  position:absolute;
  left:0px;
  top:155px;
  width:190px;
  height:30px;
}
#u129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:31px;
}
#u130 {
  position:absolute;
  left:20px;
  top:7px;
  width:168px;
  word-wrap:break-word;
}
#u131 {
  position:absolute;
  left:0px;
  top:185px;
  width:190px;
  height:30px;
}
#u131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:31px;
}
#u132 {
  position:absolute;
  left:20px;
  top:7px;
  width:168px;
  word-wrap:break-word;
}
#u133 {
  position:absolute;
  left:0px;
  top:215px;
  width:190px;
  height:30px;
}
#u133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:31px;
}
#u134 {
  position:absolute;
  left:20px;
  top:7px;
  width:168px;
  word-wrap:break-word;
}
#u135 {
  position:absolute;
  left:0px;
  top:245px;
  width:190px;
  height:30px;
}
#u135_img {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:31px;
}
#u136 {
  position:absolute;
  left:20px;
  top:7px;
  width:168px;
  word-wrap:break-word;
}
#u137 {
  position:absolute;
  left:0px;
  top:275px;
  width:190px;
  height:65px;
  font-size:18px;
}
#u137_img {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:66px;
}
#u138 {
  position:absolute;
  left:20px;
  top:22px;
  width:168px;
  word-wrap:break-word;
}
#u139 {
  position:absolute;
  left:0px;
  top:340px;
  width:190px;
  height:30px;
}
#u139_img {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:31px;
}
#u140 {
  position:absolute;
  left:20px;
  top:7px;
  width:168px;
  word-wrap:break-word;
}
#u141 {
  position:absolute;
  left:0px;
  top:370px;
  width:190px;
  height:30px;
}
#u141_img {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:31px;
}
#u142 {
  position:absolute;
  left:20px;
  top:7px;
  width:168px;
  word-wrap:break-word;
}
#u143 {
  position:absolute;
  left:0px;
  top:400px;
  width:190px;
  height:30px;
}
#u143_img {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:31px;
}
#u144 {
  position:absolute;
  left:20px;
  top:7px;
  width:168px;
  word-wrap:break-word;
}
#u145 {
  position:absolute;
  left:0px;
  top:430px;
  width:190px;
  height:65px;
  font-size:18px;
}
#u145_img {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:66px;
}
#u146 {
  position:absolute;
  left:20px;
  top:22px;
  width:168px;
  word-wrap:break-word;
}
#u147 {
  position:absolute;
  left:0px;
  top:495px;
  width:190px;
  height:30px;
}
#u147_img {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:31px;
}
#u148 {
  position:absolute;
  left:20px;
  top:7px;
  width:168px;
  word-wrap:break-word;
}
#u149 {
  position:absolute;
  left:0px;
  top:525px;
  width:190px;
  height:30px;
}
#u149_img {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:31px;
}
#u150 {
  position:absolute;
  left:20px;
  top:7px;
  width:168px;
  word-wrap:break-word;
}
#u151 {
  position:absolute;
  left:0px;
  top:555px;
  width:190px;
  height:65px;
  font-size:18px;
}
#u151_img {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:66px;
}
#u152 {
  position:absolute;
  left:20px;
  top:22px;
  width:168px;
  word-wrap:break-word;
}
#u153 {
  position:absolute;
  left:0px;
  top:620px;
  width:190px;
  height:30px;
}
#u153_img {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:31px;
}
#u154 {
  position:absolute;
  left:20px;
  top:7px;
  width:168px;
  word-wrap:break-word;
}
#u155 {
  position:absolute;
  left:0px;
  top:650px;
  width:190px;
  height:30px;
}
#u155_img {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:31px;
}
#u156 {
  position:absolute;
  left:20px;
  top:7px;
  width:168px;
  word-wrap:break-word;
}
#u157 {
  position:absolute;
  left:0px;
  top:680px;
  width:190px;
  height:30px;
}
#u157_img {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:31px;
}
#u158 {
  position:absolute;
  left:20px;
  top:7px;
  width:168px;
  word-wrap:break-word;
}
#u159 {
  position:absolute;
  left:0px;
  top:710px;
  width:190px;
  height:30px;
}
#u159_img {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:31px;
}
#u160 {
  position:absolute;
  left:20px;
  top:7px;
  width:168px;
  word-wrap:break-word;
}
#u161 {
  position:absolute;
  left:0px;
  top:740px;
  width:190px;
  height:30px;
}
#u161_img {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:31px;
}
#u162 {
  position:absolute;
  left:20px;
  top:7px;
  width:168px;
  word-wrap:break-word;
}
#u163 {
  position:absolute;
  left:0px;
  top:770px;
  width:190px;
  height:65px;
  font-size:18px;
}
#u163_img {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:66px;
}
#u164 {
  position:absolute;
  left:20px;
  top:22px;
  width:168px;
  word-wrap:break-word;
}
#u165 {
  position:absolute;
  left:0px;
  top:835px;
  width:190px;
  height:30px;
}
#u165_img {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:31px;
}
#u166 {
  position:absolute;
  left:20px;
  top:7px;
  width:168px;
  word-wrap:break-word;
}
#u167 {
  position:absolute;
  left:0px;
  top:865px;
  width:190px;
  height:30px;
}
#u167_img {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:31px;
}
#u168 {
  position:absolute;
  left:20px;
  top:7px;
  width:168px;
  word-wrap:break-word;
}
#u169 {
  position:absolute;
  left:0px;
  top:895px;
  width:190px;
  height:30px;
}
#u169_img {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:31px;
}
#u170 {
  position:absolute;
  left:20px;
  top:7px;
  width:168px;
  word-wrap:break-word;
}
#u171 {
  position:absolute;
  left:0px;
  top:925px;
  width:190px;
  height:30px;
}
#u171_img {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:31px;
}
#u172 {
  position:absolute;
  left:20px;
  top:7px;
  width:168px;
  word-wrap:break-word;
}
#u173 {
  position:absolute;
  left:0px;
  top:955px;
  width:190px;
  height:30px;
}
#u173_img {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:31px;
}
#u174 {
  position:absolute;
  left:20px;
  top:7px;
  width:168px;
  word-wrap:break-word;
}
#u175 {
  position:absolute;
  left:0px;
  top:985px;
  width:190px;
  height:30px;
}
#u175_img {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:31px;
}
#u176 {
  position:absolute;
  left:20px;
  top:7px;
  width:168px;
  word-wrap:break-word;
}
#u177 {
  position:absolute;
  left:350px;
  top:240px;
  width:140px;
  height:40px;
}
#u177_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:41px;
}
#u178 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u179 {
  position:absolute;
  left:350px;
  top:300px;
  width:78px;
  height:16px;
  color:#008000;
}
#u179_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:17px;
}
#u180 {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  word-wrap:break-word;
}
#u181 {
  position:absolute;
  left:615px;
  top:300px;
  width:78px;
  height:16px;
  color:#008000;
}
#u181_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:17px;
}
#u182 {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  word-wrap:break-word;
}
#u183 {
  position:absolute;
  left:525px;
  top:300px;
  width:78px;
  height:16px;
  color:#008000;
}
#u183_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:17px;
}
#u184 {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  word-wrap:break-word;
}
#u185 {
  position:absolute;
  left:1149px;
  top:300px;
  width:73px;
  height:16px;
  color:#008000;
}
#u185_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:17px;
}
#u186 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  word-wrap:break-word;
}
#u187 {
  position:absolute;
  left:1230px;
  top:300px;
  width:94px;
  height:16px;
  color:#008000;
}
#u187_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:17px;
}
#u188 {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  word-wrap:break-word;
}
#u189 {
  position:absolute;
  left:1230px;
  top:348px;
  width:94px;
  height:60px;
  line-height:20px;
}
#u189_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:61px;
}
#u190 {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  word-wrap:break-word;
}
#u192 {
  position:absolute;
  left:1045px;
  top:300px;
  width:73px;
  height:16px;
  color:#008000;
}
#u192_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:17px;
}
#u193 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  word-wrap:break-word;
}
#u194 {
  position:absolute;
  left:350px;
  top:348px;
  width:158px;
  height:15px;
  font-size:12px;
}
#u194_img {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:16px;
}
#u195 {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  word-wrap:break-word;
}
#u196 {
  position:absolute;
  left:525px;
  top:348px;
  width:71px;
  height:60px;
  font-size:12px;
  line-height:20px;
}
#u196_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:61px;
}
#u197 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  word-wrap:break-word;
}
#u198 {
  position:absolute;
  left:618px;
  top:348px;
  width:193px;
  height:60px;
  font-size:12px;
  line-height:20px;
}
#u198_img {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:61px;
}
#u199 {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  white-space:nowrap;
}
#u200 {
  position:absolute;
  left:1149px;
  top:348px;
  width:29px;
  height:15px;
  font-size:12px;
}
#u200_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:16px;
}
#u201 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u202 {
  position:absolute;
  left:838px;
  top:300px;
  width:73px;
  height:16px;
  color:#008000;
}
#u202_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:17px;
}
#u203 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  word-wrap:break-word;
}
#u204 {
  position:absolute;
  left:350px;
  top:326px;
  width:930px;
  height:10px;
}
#u204_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u204_end {
  position:absolute;
  left:921px;
  top:-5px;
  width:14px;
  height:20px;
}
#u204_line {
  position:absolute;
  left:0px;
  top:5px;
  width:930px;
  height:1px;
}
#u205 {
  position:absolute;
  left:350px;
  top:373px;
  width:50px;
  height:15px;
  font-size:12px;
  color:#FF0000;
}
#u205_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:16px;
}
#u206 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  word-wrap:break-word;
}
#u207 {
  position:absolute;
  left:838px;
  top:348px;
  width:170px;
  height:60px;
  font-size:12px;
  line-height:20px;
}
#u207_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:61px;
}
#u208 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  word-wrap:break-word;
}
#u209 {
  position:absolute;
  left:1045px;
  top:348px;
  width:65px;
  height:40px;
  font-size:12px;
  line-height:20px;
}
#u209_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:41px;
}
#u210 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u211 {
  position:absolute;
  left:1230px;
  top:441px;
  width:94px;
  height:60px;
  line-height:20px;
}
#u211_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:61px;
}
#u212 {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  word-wrap:break-word;
}
#u214 {
  position:absolute;
  left:350px;
  top:441px;
  width:158px;
  height:15px;
  font-size:12px;
}
#u214_img {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:16px;
}
#u215 {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  word-wrap:break-word;
}
#u216 {
  position:absolute;
  left:525px;
  top:441px;
  width:71px;
  height:60px;
  font-size:12px;
  line-height:20px;
}
#u216_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:61px;
}
#u217 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  word-wrap:break-word;
}
#u218 {
  position:absolute;
  left:618px;
  top:441px;
  width:193px;
  height:60px;
  font-size:12px;
  line-height:20px;
}
#u218_img {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:61px;
}
#u219 {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  white-space:nowrap;
}
#u220 {
  position:absolute;
  left:1149px;
  top:441px;
  width:29px;
  height:15px;
  font-size:12px;
}
#u220_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:16px;
}
#u221 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u222 {
  position:absolute;
  left:350px;
  top:419px;
  width:930px;
  height:10px;
}
#u222_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u222_end {
  position:absolute;
  left:921px;
  top:-5px;
  width:14px;
  height:20px;
}
#u222_line {
  position:absolute;
  left:0px;
  top:5px;
  width:930px;
  height:1px;
}
#u223 {
  position:absolute;
  left:350px;
  top:466px;
  width:50px;
  height:15px;
  font-size:12px;
  color:#FF0000;
}
#u223_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:16px;
}
#u224 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  word-wrap:break-word;
}
#u225 {
  position:absolute;
  left:838px;
  top:441px;
  width:170px;
  height:60px;
  font-size:12px;
  line-height:20px;
}
#u225_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:61px;
}
#u226 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  word-wrap:break-word;
}
#u227 {
  position:absolute;
  left:1045px;
  top:441px;
  width:65px;
  height:40px;
  font-size:12px;
  line-height:20px;
}
#u227_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:41px;
}
#u228 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u229 {
  position:absolute;
  left:1230px;
  top:534px;
  width:94px;
  height:60px;
  line-height:20px;
}
#u229_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:61px;
}
#u230 {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  word-wrap:break-word;
}
#u232 {
  position:absolute;
  left:350px;
  top:534px;
  width:158px;
  height:15px;
  font-size:12px;
}
#u232_img {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:16px;
}
#u233 {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  word-wrap:break-word;
}
#u234 {
  position:absolute;
  left:525px;
  top:534px;
  width:71px;
  height:60px;
  font-size:12px;
  line-height:20px;
}
#u234_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:61px;
}
#u235 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  word-wrap:break-word;
}
#u236 {
  position:absolute;
  left:618px;
  top:534px;
  width:193px;
  height:60px;
  font-size:12px;
  line-height:20px;
}
#u236_img {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:61px;
}
#u237 {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  white-space:nowrap;
}
#u238 {
  position:absolute;
  left:1149px;
  top:534px;
  width:29px;
  height:15px;
  font-size:12px;
}
#u238_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:16px;
}
#u239 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u240 {
  position:absolute;
  left:350px;
  top:512px;
  width:930px;
  height:10px;
}
#u240_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u240_end {
  position:absolute;
  left:921px;
  top:-5px;
  width:14px;
  height:20px;
}
#u240_line {
  position:absolute;
  left:0px;
  top:5px;
  width:930px;
  height:1px;
}
#u241 {
  position:absolute;
  left:350px;
  top:559px;
  width:50px;
  height:15px;
  font-size:12px;
  color:#FF0000;
}
#u241_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:16px;
}
#u242 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  word-wrap:break-word;
}
#u243 {
  position:absolute;
  left:838px;
  top:534px;
  width:170px;
  height:60px;
  font-size:12px;
  line-height:20px;
}
#u243_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:61px;
}
#u244 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  word-wrap:break-word;
}
#u245 {
  position:absolute;
  left:1045px;
  top:534px;
  width:65px;
  height:40px;
  font-size:12px;
  line-height:20px;
}
#u245_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:41px;
}
#u246 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u247 {
  position:absolute;
  left:1230px;
  top:627px;
  width:94px;
  height:60px;
  line-height:20px;
}
#u247_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:61px;
}
#u248 {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  word-wrap:break-word;
}
#u250 {
  position:absolute;
  left:350px;
  top:627px;
  width:158px;
  height:15px;
  font-size:12px;
}
#u250_img {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:16px;
}
#u251 {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  word-wrap:break-word;
}
#u252 {
  position:absolute;
  left:525px;
  top:627px;
  width:71px;
  height:60px;
  font-size:12px;
  line-height:20px;
}
#u252_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:61px;
}
#u253 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  word-wrap:break-word;
}
#u254 {
  position:absolute;
  left:618px;
  top:627px;
  width:193px;
  height:60px;
  font-size:12px;
  line-height:20px;
}
#u254_img {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:61px;
}
#u255 {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  white-space:nowrap;
}
#u256 {
  position:absolute;
  left:1149px;
  top:627px;
  width:29px;
  height:15px;
  font-size:12px;
}
#u256_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:16px;
}
#u257 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u258 {
  position:absolute;
  left:350px;
  top:605px;
  width:930px;
  height:10px;
}
#u258_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u258_end {
  position:absolute;
  left:921px;
  top:-5px;
  width:14px;
  height:20px;
}
#u258_line {
  position:absolute;
  left:0px;
  top:5px;
  width:930px;
  height:1px;
}
#u259 {
  position:absolute;
  left:350px;
  top:652px;
  width:50px;
  height:15px;
  font-size:12px;
  color:#FF0000;
}
#u259_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:16px;
}
#u260 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  word-wrap:break-word;
}
#u261 {
  position:absolute;
  left:838px;
  top:627px;
  width:170px;
  height:60px;
  font-size:12px;
  line-height:20px;
}
#u261_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:61px;
}
#u262 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  word-wrap:break-word;
}
#u263 {
  position:absolute;
  left:1045px;
  top:627px;
  width:65px;
  height:40px;
  font-size:12px;
  line-height:20px;
}
#u263_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:41px;
}
#u264 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u265 {
  position:absolute;
  left:1230px;
  top:720px;
  width:94px;
  height:60px;
  line-height:20px;
}
#u265_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:61px;
}
#u266 {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  word-wrap:break-word;
}
#u268 {
  position:absolute;
  left:350px;
  top:720px;
  width:158px;
  height:15px;
  font-size:12px;
}
#u268_img {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:16px;
}
#u269 {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  word-wrap:break-word;
}
#u270 {
  position:absolute;
  left:525px;
  top:720px;
  width:71px;
  height:60px;
  font-size:12px;
  line-height:20px;
}
#u270_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:61px;
}
#u271 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  word-wrap:break-word;
}
#u272 {
  position:absolute;
  left:618px;
  top:720px;
  width:193px;
  height:60px;
  font-size:12px;
  line-height:20px;
}
#u272_img {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:61px;
}
#u273 {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  white-space:nowrap;
}
#u274 {
  position:absolute;
  left:1149px;
  top:720px;
  width:29px;
  height:15px;
  font-size:12px;
}
#u274_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:16px;
}
#u275 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u276 {
  position:absolute;
  left:350px;
  top:698px;
  width:930px;
  height:10px;
}
#u276_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u276_end {
  position:absolute;
  left:921px;
  top:-5px;
  width:14px;
  height:20px;
}
#u276_line {
  position:absolute;
  left:0px;
  top:5px;
  width:930px;
  height:1px;
}
#u277 {
  position:absolute;
  left:350px;
  top:745px;
  width:50px;
  height:15px;
  font-size:12px;
  color:#FF0000;
}
#u277_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:16px;
}
#u278 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  word-wrap:break-word;
}
#u279 {
  position:absolute;
  left:838px;
  top:720px;
  width:170px;
  height:60px;
  font-size:12px;
  line-height:20px;
}
#u279_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:61px;
}
#u280 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  word-wrap:break-word;
}
#u281 {
  position:absolute;
  left:1045px;
  top:720px;
  width:65px;
  height:40px;
  font-size:12px;
  line-height:20px;
}
#u281_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:41px;
}
#u282 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u283 {
  position:absolute;
  left:1230px;
  top:813px;
  width:94px;
  height:60px;
  line-height:20px;
}
#u283_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:61px;
}
#u284 {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  word-wrap:break-word;
}
#u286 {
  position:absolute;
  left:350px;
  top:813px;
  width:158px;
  height:15px;
  font-size:12px;
}
#u286_img {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:16px;
}
#u287 {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  word-wrap:break-word;
}
#u288 {
  position:absolute;
  left:525px;
  top:813px;
  width:71px;
  height:60px;
  font-size:12px;
  line-height:20px;
}
#u288_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:61px;
}
#u289 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  word-wrap:break-word;
}
#u290 {
  position:absolute;
  left:618px;
  top:813px;
  width:193px;
  height:60px;
  font-size:12px;
  line-height:20px;
}
#u290_img {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:61px;
}
#u291 {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  white-space:nowrap;
}
#u292 {
  position:absolute;
  left:1149px;
  top:813px;
  width:29px;
  height:15px;
  font-size:12px;
}
#u292_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:16px;
}
#u293 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u294 {
  position:absolute;
  left:350px;
  top:791px;
  width:930px;
  height:10px;
}
#u294_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u294_end {
  position:absolute;
  left:921px;
  top:-5px;
  width:14px;
  height:20px;
}
#u294_line {
  position:absolute;
  left:0px;
  top:5px;
  width:930px;
  height:1px;
}
#u295 {
  position:absolute;
  left:350px;
  top:838px;
  width:50px;
  height:15px;
  font-size:12px;
  color:#FF0000;
}
#u295_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:16px;
}
#u296 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  word-wrap:break-word;
}
#u297 {
  position:absolute;
  left:838px;
  top:813px;
  width:170px;
  height:60px;
  font-size:12px;
  line-height:20px;
}
#u297_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:61px;
}
#u298 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  word-wrap:break-word;
}
#u299 {
  position:absolute;
  left:1045px;
  top:813px;
  width:65px;
  height:40px;
  font-size:12px;
  line-height:20px;
}
#u299_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:41px;
}
#u300 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u301 {
  position:absolute;
  left:586px;
  top:936px;
  width:503px;
  height:22px;
}
#u301_img {
  position:absolute;
  left:0px;
  top:0px;
  width:503px;
  height:22px;
}
#u302 {
  position:absolute;
  left:2px;
  top:3px;
  width:499px;
  visibility:hidden;
  word-wrap:break-word;
}
