body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1400px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:320px;
  top:217px;
  width:980px;
  height:925px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:981px;
  height:926px;
}
#u1 {
  position:absolute;
  left:2px;
  top:454px;
  width:976px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:494px;
  top:240px;
  width:140px;
  height:40px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:41px;
}
#u3 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:350px;
  top:240px;
  width:140px;
  height:40px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:41px;
}
#u5 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:350px;
  top:275px;
  width:930px;
  height:10px;
}
#u6_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u6_end {
  position:absolute;
  left:921px;
  top:-5px;
  width:14px;
  height:20px;
}
#u6_line {
  position:absolute;
  left:0px;
  top:5px;
  width:930px;
  height:1px;
}
#u8 {
  position:absolute;
  left:100px;
  top:57px;
  width:200px;
  height:75px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:76px;
}
#u9 {
  position:absolute;
  left:2px;
  top:30px;
  width:196px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:421px;
  top:60px;
  width:490px;
  height:35px;
}
#u10_input {
  position:absolute;
  left:0px;
  top:0px;
  width:490px;
  height:35px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u11 {
  position:absolute;
  left:421px;
  top:105px;
  width:600px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:12px;
  color:#008000;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:601px;
  height:18px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:910px;
  top:60px;
  width:100px;
  height:35px;
}
#u13_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:35px;
  background-image:url(../../resources/images/transparent.gif);
  text-align:center;
  font-family:'微软雅黑';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u14 {
  position:absolute;
  left:1150px;
  top:60px;
  width:150px;
  height:50px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:51px;
}
#u15 {
  position:absolute;
  left:2px;
  top:17px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:1160px;
  top:76px;
  width:23px;
  height:17px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:17px;
}
#u17 {
  position:absolute;
  left:2px;
  top:0px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:1196px;
  top:75px;
  width:102px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:14px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:21px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:0px;
  top:156px;
  width:1400px;
  height:40px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1401px;
  height:41px;
}
#u21 {
  position:absolute;
  left:2px;
  top:12px;
  width:1396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:320px;
  top:156px;
  width:122px;
  height:40px;
  font-family:'微软雅黑 Regular', '微软雅黑';
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:41px;
}
#u23 {
  position:absolute;
  left:2px;
  top:10px;
  width:118px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:442px;
  top:156px;
  width:122px;
  height:40px;
  font-family:'微软雅黑 Regular', '微软雅黑';
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:41px;
}
#u25 {
  position:absolute;
  left:2px;
  top:10px;
  width:118px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:564px;
  top:156px;
  width:122px;
  height:40px;
  font-family:'微软雅黑 Regular', '微软雅黑';
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:41px;
}
#u27 {
  position:absolute;
  left:2px;
  top:10px;
  width:118px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:686px;
  top:156px;
  width:122px;
  height:40px;
  font-family:'微软雅黑 Regular', '微软雅黑';
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:41px;
}
#u29 {
  position:absolute;
  left:2px;
  top:10px;
  width:118px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:808px;
  top:156px;
  width:122px;
  height:40px;
  font-family:'微软雅黑 Regular', '微软雅黑';
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:41px;
}
#u31 {
  position:absolute;
  left:2px;
  top:10px;
  width:118px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:930px;
  top:156px;
  width:126px;
  height:40px;
  font-family:'微软雅黑 Regular', '微软雅黑';
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:41px;
}
#u33 {
  position:absolute;
  left:2px;
  top:10px;
  width:122px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:1056px;
  top:156px;
  width:122px;
  height:40px;
  font-family:'微软雅黑 Regular', '微软雅黑';
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:41px;
}
#u35 {
  position:absolute;
  left:2px;
  top:10px;
  width:118px;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:100px;
  top:156px;
  width:220px;
  height:40px;
  font-family:'微软雅黑 Regular', '微软雅黑';
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:41px;
}
#u37 {
  position:absolute;
  left:2px;
  top:10px;
  width:216px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:1178px;
  top:156px;
  width:122px;
  height:40px;
  font-family:'微软雅黑 Regular', '微软雅黑';
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:41px;
}
#u39 {
  position:absolute;
  left:2px;
  top:10px;
  width:118px;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:1400px;
  height:35px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1401px;
  height:36px;
}
#u41 {
  position:absolute;
  left:2px;
  top:10px;
  width:1396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:100px;
  top:11px;
  width:340px;
  height:16px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:341px;
  height:17px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:660px;
  top:6px;
  width:640px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  text-align:right;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:641px;
  height:20px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:0px;
  top:1265px;
  width:1400px;
  height:395px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1401px;
  height:396px;
}
#u48 {
  position:absolute;
  left:2px;
  top:190px;
  width:1396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:502px;
  top:1596px;
  width:389px;
  height:44px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:389px;
  height:44px;
}
#u50 {
  position:absolute;
  left:2px;
  top:14px;
  width:385px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:346px;
  top:1547px;
  width:708px;
  height:40px;
  text-align:center;
  line-height:20px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:709px;
  height:41px;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:708px;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:100px;
  top:1300px;
  width:200px;
  height:75px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:76px;
}
#u54 {
  position:absolute;
  left:2px;
  top:30px;
  width:196px;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:514px;
  top:1300px;
  width:31px;
  height:30px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:30px;
}
#u56 {
  position:absolute;
  left:2px;
  top:7px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:887px;
  top:1300px;
  width:32px;
  height:34px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:34px;
}
#u58 {
  position:absolute;
  left:2px;
  top:9px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:1096px;
  top:1300px;
  width:35px;
  height:30px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:30px;
}
#u60 {
  position:absolute;
  left:2px;
  top:7px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:354px;
  top:1301px;
  width:31px;
  height:30px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:30px;
}
#u62 {
  position:absolute;
  left:2px;
  top:7px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:396px;
  top:1301px;
  width:69px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-size:14px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:21px;
}
#u64 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:396px;
  top:1329px;
  width:69px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:20px;
}
#u66 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:396px;
  top:1357px;
  width:69px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:20px;
}
#u68 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:396px;
  top:1385px;
  width:69px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:20px;
}
#u70 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:396px;
  top:1411px;
  width:69px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:20px;
}
#u72 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:555px;
  top:1300px;
  width:69px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-size:14px;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:21px;
}
#u74 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:555px;
  top:1328px;
  width:69px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:20px;
}
#u76 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:555px;
  top:1356px;
  width:69px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:20px;
}
#u78 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:555px;
  top:1384px;
  width:69px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:20px;
}
#u80 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  word-wrap:break-word;
}
#u81 {
  position:absolute;
  left:694px;
  top:1300px;
  width:33px;
  height:30px;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:30px;
}
#u82 {
  position:absolute;
  left:2px;
  top:7px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u83 {
  position:absolute;
  left:737px;
  top:1300px;
  width:81px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-size:14px;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:21px;
}
#u84 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  word-wrap:break-word;
}
#u85 {
  position:absolute;
  left:737px;
  top:1328px;
  width:69px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:20px;
}
#u86 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  word-wrap:break-word;
}
#u87 {
  position:absolute;
  left:737px;
  top:1356px;
  width:69px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:20px;
}
#u88 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  word-wrap:break-word;
}
#u89 {
  position:absolute;
  left:929px;
  top:1300px;
  width:70px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-size:14px;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:21px;
}
#u90 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u91 {
  position:absolute;
  left:929px;
  top:1328px;
  width:97px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:20px;
}
#u92 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  word-wrap:break-word;
}
#u93 {
  position:absolute;
  left:929px;
  top:1356px;
  width:69px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:20px;
}
#u94 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  word-wrap:break-word;
}
#u95 {
  position:absolute;
  left:1141px;
  top:1300px;
  width:70px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-size:14px;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:21px;
}
#u96 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u97 {
  position:absolute;
  left:1141px;
  top:1328px;
  width:89px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:20px;
}
#u98 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  word-wrap:break-word;
}
#u99 {
  position:absolute;
  left:1141px;
  top:1356px;
  width:89px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:20px;
}
#u100 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  word-wrap:break-word;
}
#u101 {
  position:absolute;
  left:737px;
  top:1385px;
  width:69px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:20px;
}
#u102 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  word-wrap:break-word;
}
#u103 {
  position:absolute;
  left:100px;
  top:1394px;
  width:40px;
  height:27px;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:27px;
}
#u104 {
  position:absolute;
  left:2px;
  top:6px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u105 {
  position:absolute;
  left:147px;
  top:1414px;
  width:153px;
  height:27px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:20px;
  color:#FF6600;
}
#u105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:28px;
}
#u106 {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  word-wrap:break-word;
}
#u107 {
  position:absolute;
  left:147px;
  top:1394px;
  width:157px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
}
#u107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:20px;
}
#u108 {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  word-wrap:break-word;
}
#u109 {
  position:absolute;
  left:929px;
  top:1385px;
  width:97px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
}
#u109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:20px;
}
#u110 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  word-wrap:break-word;
}
#u111 {
  position:absolute;
  left:929px;
  top:1413px;
  width:69px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
}
#u111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:20px;
}
#u112 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  word-wrap:break-word;
}
#u113 {
  position:absolute;
  left:1141px;
  top:1385px;
  width:89px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
}
#u113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:20px;
}
#u114 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  word-wrap:break-word;
}
#u115 {
  position:absolute;
  left:1141px;
  top:1414px;
  width:89px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
}
#u115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:20px;
}
#u116 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  word-wrap:break-word;
}
#u117 {
  position:absolute;
  left:1141px;
  top:1443px;
  width:89px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
}
#u117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:20px;
}
#u118 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  word-wrap:break-word;
}
#u120 {
  position:absolute;
  left:100px;
  top:217px;
  width:195px;
  height:1020px;
}
#u121 {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:65px;
  font-size:18px;
}
#u121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:66px;
}
#u122 {
  position:absolute;
  left:20px;
  top:22px;
  width:168px;
  word-wrap:break-word;
}
#u123 {
  position:absolute;
  left:0px;
  top:65px;
  width:190px;
  height:30px;
}
#u123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:31px;
}
#u124 {
  position:absolute;
  left:20px;
  top:7px;
  width:168px;
  word-wrap:break-word;
}
#u125 {
  position:absolute;
  left:0px;
  top:95px;
  width:190px;
  height:30px;
}
#u125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:31px;
}
#u126 {
  position:absolute;
  left:20px;
  top:7px;
  width:168px;
  word-wrap:break-word;
}
#u127 {
  position:absolute;
  left:0px;
  top:125px;
  width:190px;
  height:30px;
}
#u127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:31px;
}
#u128 {
  position:absolute;
  left:20px;
  top:7px;
  width:168px;
  word-wrap:break-word;
}
#u129 {
  position:absolute;
  left:0px;
  top:155px;
  width:190px;
  height:30px;
}
#u129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:31px;
}
#u130 {
  position:absolute;
  left:20px;
  top:7px;
  width:168px;
  word-wrap:break-word;
}
#u131 {
  position:absolute;
  left:0px;
  top:185px;
  width:190px;
  height:30px;
}
#u131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:31px;
}
#u132 {
  position:absolute;
  left:20px;
  top:7px;
  width:168px;
  word-wrap:break-word;
}
#u133 {
  position:absolute;
  left:0px;
  top:215px;
  width:190px;
  height:30px;
}
#u133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:31px;
}
#u134 {
  position:absolute;
  left:20px;
  top:7px;
  width:168px;
  word-wrap:break-word;
}
#u135 {
  position:absolute;
  left:0px;
  top:245px;
  width:190px;
  height:30px;
}
#u135_img {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:31px;
}
#u136 {
  position:absolute;
  left:20px;
  top:7px;
  width:168px;
  word-wrap:break-word;
}
#u137 {
  position:absolute;
  left:0px;
  top:275px;
  width:190px;
  height:65px;
  font-size:18px;
}
#u137_img {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:66px;
}
#u138 {
  position:absolute;
  left:20px;
  top:22px;
  width:168px;
  word-wrap:break-word;
}
#u139 {
  position:absolute;
  left:0px;
  top:340px;
  width:190px;
  height:30px;
}
#u139_img {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:31px;
}
#u140 {
  position:absolute;
  left:20px;
  top:7px;
  width:168px;
  word-wrap:break-word;
}
#u141 {
  position:absolute;
  left:0px;
  top:370px;
  width:190px;
  height:30px;
}
#u141_img {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:31px;
}
#u142 {
  position:absolute;
  left:20px;
  top:7px;
  width:168px;
  word-wrap:break-word;
}
#u143 {
  position:absolute;
  left:0px;
  top:400px;
  width:190px;
  height:30px;
}
#u143_img {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:31px;
}
#u144 {
  position:absolute;
  left:20px;
  top:7px;
  width:168px;
  word-wrap:break-word;
}
#u145 {
  position:absolute;
  left:0px;
  top:430px;
  width:190px;
  height:65px;
  font-size:18px;
}
#u145_img {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:66px;
}
#u146 {
  position:absolute;
  left:20px;
  top:22px;
  width:168px;
  word-wrap:break-word;
}
#u147 {
  position:absolute;
  left:0px;
  top:495px;
  width:190px;
  height:30px;
}
#u147_img {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:31px;
}
#u148 {
  position:absolute;
  left:20px;
  top:7px;
  width:168px;
  word-wrap:break-word;
}
#u149 {
  position:absolute;
  left:0px;
  top:525px;
  width:190px;
  height:30px;
}
#u149_img {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:31px;
}
#u150 {
  position:absolute;
  left:20px;
  top:7px;
  width:168px;
  word-wrap:break-word;
}
#u151 {
  position:absolute;
  left:0px;
  top:555px;
  width:190px;
  height:65px;
  font-size:18px;
}
#u151_img {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:66px;
}
#u152 {
  position:absolute;
  left:20px;
  top:22px;
  width:168px;
  word-wrap:break-word;
}
#u153 {
  position:absolute;
  left:0px;
  top:620px;
  width:190px;
  height:30px;
}
#u153_img {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:31px;
}
#u154 {
  position:absolute;
  left:20px;
  top:7px;
  width:168px;
  word-wrap:break-word;
}
#u155 {
  position:absolute;
  left:0px;
  top:650px;
  width:190px;
  height:30px;
}
#u155_img {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:31px;
}
#u156 {
  position:absolute;
  left:20px;
  top:7px;
  width:168px;
  word-wrap:break-word;
}
#u157 {
  position:absolute;
  left:0px;
  top:680px;
  width:190px;
  height:30px;
}
#u157_img {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:31px;
}
#u158 {
  position:absolute;
  left:20px;
  top:7px;
  width:168px;
  word-wrap:break-word;
}
#u159 {
  position:absolute;
  left:0px;
  top:710px;
  width:190px;
  height:30px;
}
#u159_img {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:31px;
}
#u160 {
  position:absolute;
  left:20px;
  top:7px;
  width:168px;
  word-wrap:break-word;
}
#u161 {
  position:absolute;
  left:0px;
  top:740px;
  width:190px;
  height:30px;
}
#u161_img {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:31px;
}
#u162 {
  position:absolute;
  left:20px;
  top:7px;
  width:168px;
  word-wrap:break-word;
}
#u163 {
  position:absolute;
  left:0px;
  top:770px;
  width:190px;
  height:65px;
  font-size:18px;
}
#u163_img {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:66px;
}
#u164 {
  position:absolute;
  left:20px;
  top:22px;
  width:168px;
  word-wrap:break-word;
}
#u165 {
  position:absolute;
  left:0px;
  top:835px;
  width:190px;
  height:30px;
}
#u165_img {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:31px;
}
#u166 {
  position:absolute;
  left:20px;
  top:7px;
  width:168px;
  word-wrap:break-word;
}
#u167 {
  position:absolute;
  left:0px;
  top:865px;
  width:190px;
  height:30px;
}
#u167_img {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:31px;
}
#u168 {
  position:absolute;
  left:20px;
  top:7px;
  width:168px;
  word-wrap:break-word;
}
#u169 {
  position:absolute;
  left:0px;
  top:895px;
  width:190px;
  height:30px;
}
#u169_img {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:31px;
}
#u170 {
  position:absolute;
  left:20px;
  top:7px;
  width:168px;
  word-wrap:break-word;
}
#u171 {
  position:absolute;
  left:0px;
  top:925px;
  width:190px;
  height:30px;
}
#u171_img {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:31px;
}
#u172 {
  position:absolute;
  left:20px;
  top:7px;
  width:168px;
  word-wrap:break-word;
}
#u173 {
  position:absolute;
  left:0px;
  top:955px;
  width:190px;
  height:30px;
}
#u173_img {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:31px;
}
#u174 {
  position:absolute;
  left:20px;
  top:7px;
  width:168px;
  word-wrap:break-word;
}
#u175 {
  position:absolute;
  left:0px;
  top:985px;
  width:190px;
  height:30px;
}
#u175_img {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:31px;
}
#u176 {
  position:absolute;
  left:20px;
  top:7px;
  width:168px;
  word-wrap:break-word;
}
#u177 {
  position:absolute;
  left:586px;
  top:936px;
  width:503px;
  height:22px;
}
#u177_img {
  position:absolute;
  left:0px;
  top:0px;
  width:503px;
  height:22px;
}
#u178 {
  position:absolute;
  left:2px;
  top:3px;
  width:499px;
  visibility:hidden;
  word-wrap:break-word;
}
#u179 {
  position:absolute;
  left:350px;
  top:370px;
  width:136px;
  height:60px;
}
#u179_img {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:61px;
}
#u180 {
  position:absolute;
  left:2px;
  top:22px;
  width:132px;
  word-wrap:break-word;
}
#u181 {
  position:absolute;
  left:350px;
  top:440px;
  width:136px;
  height:16px;
  font-size:14px;
}
#u181_img {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:17px;
}
#u182 {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  word-wrap:break-word;
}
#u183 {
  position:absolute;
  left:563px;
  top:370px;
  width:145px;
  height:32px;
}
#u183_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:33px;
}
#u184 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  word-wrap:break-word;
}
#u185 {
  position:absolute;
  left:350px;
  top:310px;
  width:107px;
  height:16px;
  color:#008000;
}
#u185_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:17px;
}
#u186 {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  word-wrap:break-word;
}
#u187 {
  position:absolute;
  left:563px;
  top:310px;
  width:58px;
  height:16px;
  color:#008000;
}
#u187_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:17px;
}
#u188 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  word-wrap:break-word;
}
#u189 {
  position:absolute;
  left:757px;
  top:310px;
  width:58px;
  height:16px;
  color:#008000;
}
#u189_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:17px;
}
#u190 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  word-wrap:break-word;
}
#u191 {
  position:absolute;
  left:883px;
  top:310px;
  width:58px;
  height:16px;
  color:#008000;
}
#u191_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:17px;
}
#u192 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  word-wrap:break-word;
}
#u193 {
  position:absolute;
  left:1066px;
  top:310px;
  width:58px;
  height:16px;
  color:#008000;
}
#u193_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:17px;
}
#u194 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  word-wrap:break-word;
}
#u195 {
  position:absolute;
  left:1212px;
  top:310px;
  width:58px;
  height:16px;
  color:#008000;
}
#u195_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:17px;
}
#u196 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  word-wrap:break-word;
}
#u197 {
  position:absolute;
  left:757px;
  top:370px;
  width:68px;
  height:32px;
}
#u197_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:33px;
}
#u198 {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  word-wrap:break-word;
}
#u199 {
  position:absolute;
  left:883px;
  top:370px;
  width:117px;
  height:16px;
}
#u199_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:17px;
}
#u200 {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  word-wrap:break-word;
}
#u201 {
  position:absolute;
  left:883px;
  top:391px;
  width:117px;
  height:16px;
}
#u201_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:17px;
}
#u202 {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  word-wrap:break-word;
}
#u203 {
  position:absolute;
  left:883px;
  top:412px;
  width:117px;
  height:16px;
}
#u203_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:17px;
}
#u204 {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  word-wrap:break-word;
}
#u205 {
  position:absolute;
  left:1066px;
  top:370px;
  width:98px;
  height:32px;
}
#u205_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:33px;
}
#u206 {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  word-wrap:break-word;
}
#u207 {
  position:absolute;
  left:350px;
  top:336px;
  width:930px;
  height:10px;
}
#u207_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u207_end {
  position:absolute;
  left:921px;
  top:-5px;
  width:14px;
  height:20px;
}
#u207_line {
  position:absolute;
  left:0px;
  top:5px;
  width:930px;
  height:1px;
}
#u208 {
  position:absolute;
  left:1189px;
  top:370px;
  width:68px;
  height:16px;
  color:#000000;
  text-align:center;
}
#u208_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:17px;
}
#u209 {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  word-wrap:break-word;
}
#u211 {
  position:absolute;
  left:1195px;
  top:412px;
  width:59px;
  height:31px;
}
#u211_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:31px;
}
#u212 {
  position:absolute;
  left:2px;
  top:8px;
  width:55px;
  visibility:hidden;
  word-wrap:break-word;
}
#u213 {
  position:absolute;
  left:1197px;
  top:390px;
  width:60px;
  height:16px;
  color:#008000;
}
#u213_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:17px;
}
#u214 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u215 {
  position:absolute;
  left:638px;
  top:240px;
  width:140px;
  height:40px;
}
#u215_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:41px;
}
#u216 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u217 {
  position:absolute;
  left:350px;
  top:515px;
  width:136px;
  height:60px;
}
#u217_img {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:61px;
}
#u218 {
  position:absolute;
  left:2px;
  top:22px;
  width:132px;
  word-wrap:break-word;
}
#u219 {
  position:absolute;
  left:350px;
  top:585px;
  width:136px;
  height:16px;
  font-size:14px;
}
#u219_img {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:17px;
}
#u220 {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  word-wrap:break-word;
}
#u221 {
  position:absolute;
  left:563px;
  top:515px;
  width:145px;
  height:32px;
}
#u221_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:33px;
}
#u222 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  word-wrap:break-word;
}
#u223 {
  position:absolute;
  left:757px;
  top:515px;
  width:68px;
  height:32px;
}
#u223_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:33px;
}
#u224 {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  word-wrap:break-word;
}
#u225 {
  position:absolute;
  left:883px;
  top:515px;
  width:117px;
  height:16px;
}
#u225_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:17px;
}
#u226 {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  word-wrap:break-word;
}
#u227 {
  position:absolute;
  left:883px;
  top:536px;
  width:117px;
  height:16px;
}
#u227_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:17px;
}
#u228 {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  word-wrap:break-word;
}
#u229 {
  position:absolute;
  left:883px;
  top:557px;
  width:117px;
  height:16px;
}
#u229_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:17px;
}
#u230 {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  word-wrap:break-word;
}
#u231 {
  position:absolute;
  left:1066px;
  top:515px;
  width:98px;
  height:32px;
}
#u231_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:33px;
}
#u232 {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  word-wrap:break-word;
}
#u233 {
  position:absolute;
  left:350px;
  top:481px;
  width:930px;
  height:10px;
}
#u233_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u233_end {
  position:absolute;
  left:921px;
  top:-5px;
  width:14px;
  height:20px;
}
#u233_line {
  position:absolute;
  left:0px;
  top:5px;
  width:930px;
  height:1px;
}
#u234 {
  position:absolute;
  left:1189px;
  top:515px;
  width:68px;
  height:16px;
  color:#000000;
  text-align:center;
}
#u234_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:17px;
}
#u235 {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  word-wrap:break-word;
}
#u237 {
  position:absolute;
  left:1195px;
  top:557px;
  width:59px;
  height:31px;
}
#u237_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:31px;
}
#u238 {
  position:absolute;
  left:2px;
  top:8px;
  width:55px;
  visibility:hidden;
  word-wrap:break-word;
}
#u239 {
  position:absolute;
  left:1197px;
  top:535px;
  width:60px;
  height:16px;
  color:#008000;
}
#u239_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:17px;
}
#u240 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u241 {
  position:absolute;
  left:350px;
  top:659px;
  width:136px;
  height:60px;
}
#u241_img {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:61px;
}
#u242 {
  position:absolute;
  left:2px;
  top:22px;
  width:132px;
  word-wrap:break-word;
}
#u243 {
  position:absolute;
  left:350px;
  top:729px;
  width:136px;
  height:16px;
  font-size:14px;
}
#u243_img {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:17px;
}
#u244 {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  word-wrap:break-word;
}
#u245 {
  position:absolute;
  left:563px;
  top:659px;
  width:145px;
  height:32px;
}
#u245_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:33px;
}
#u246 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  word-wrap:break-word;
}
#u247 {
  position:absolute;
  left:757px;
  top:659px;
  width:68px;
  height:32px;
}
#u247_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:33px;
}
#u248 {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  word-wrap:break-word;
}
#u249 {
  position:absolute;
  left:883px;
  top:659px;
  width:117px;
  height:16px;
}
#u249_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:17px;
}
#u250 {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  word-wrap:break-word;
}
#u251 {
  position:absolute;
  left:883px;
  top:680px;
  width:117px;
  height:16px;
}
#u251_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:17px;
}
#u252 {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  word-wrap:break-word;
}
#u253 {
  position:absolute;
  left:883px;
  top:701px;
  width:117px;
  height:16px;
}
#u253_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:17px;
}
#u254 {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  word-wrap:break-word;
}
#u255 {
  position:absolute;
  left:1066px;
  top:659px;
  width:98px;
  height:32px;
}
#u255_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:33px;
}
#u256 {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  word-wrap:break-word;
}
#u257 {
  position:absolute;
  left:350px;
  top:625px;
  width:930px;
  height:10px;
}
#u257_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u257_end {
  position:absolute;
  left:921px;
  top:-5px;
  width:14px;
  height:20px;
}
#u257_line {
  position:absolute;
  left:0px;
  top:5px;
  width:930px;
  height:1px;
}
#u258 {
  position:absolute;
  left:1189px;
  top:659px;
  width:68px;
  height:16px;
  color:#000000;
  text-align:center;
}
#u258_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:17px;
}
#u259 {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  word-wrap:break-word;
}
#u261 {
  position:absolute;
  left:1195px;
  top:701px;
  width:59px;
  height:31px;
}
#u261_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:31px;
}
#u262 {
  position:absolute;
  left:2px;
  top:8px;
  width:55px;
  visibility:hidden;
  word-wrap:break-word;
}
#u263 {
  position:absolute;
  left:1197px;
  top:679px;
  width:60px;
  height:16px;
  color:#008000;
}
#u263_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:17px;
}
#u264 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u265 {
  position:absolute;
  left:349px;
  top:804px;
  width:136px;
  height:60px;
}
#u265_img {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:61px;
}
#u266 {
  position:absolute;
  left:2px;
  top:22px;
  width:132px;
  word-wrap:break-word;
}
#u267 {
  position:absolute;
  left:349px;
  top:874px;
  width:136px;
  height:16px;
  font-size:14px;
}
#u267_img {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:17px;
}
#u268 {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  word-wrap:break-word;
}
#u269 {
  position:absolute;
  left:562px;
  top:804px;
  width:145px;
  height:32px;
}
#u269_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:33px;
}
#u270 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  word-wrap:break-word;
}
#u271 {
  position:absolute;
  left:756px;
  top:804px;
  width:68px;
  height:32px;
}
#u271_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:33px;
}
#u272 {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  word-wrap:break-word;
}
#u273 {
  position:absolute;
  left:882px;
  top:804px;
  width:117px;
  height:16px;
}
#u273_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:17px;
}
#u274 {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  word-wrap:break-word;
}
#u275 {
  position:absolute;
  left:882px;
  top:825px;
  width:117px;
  height:16px;
}
#u275_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:17px;
}
#u276 {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  word-wrap:break-word;
}
#u277 {
  position:absolute;
  left:882px;
  top:846px;
  width:117px;
  height:16px;
}
#u277_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:17px;
}
#u278 {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  word-wrap:break-word;
}
#u279 {
  position:absolute;
  left:1065px;
  top:804px;
  width:98px;
  height:32px;
}
#u279_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:33px;
}
#u280 {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  word-wrap:break-word;
}
#u281 {
  position:absolute;
  left:350px;
  top:770px;
  width:930px;
  height:10px;
}
#u281_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u281_end {
  position:absolute;
  left:921px;
  top:-5px;
  width:14px;
  height:20px;
}
#u281_line {
  position:absolute;
  left:0px;
  top:5px;
  width:930px;
  height:1px;
}
#u282 {
  position:absolute;
  left:1188px;
  top:804px;
  width:68px;
  height:16px;
  color:#000000;
  text-align:center;
}
#u282_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:17px;
}
#u283 {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  word-wrap:break-word;
}
#u285 {
  position:absolute;
  left:1194px;
  top:846px;
  width:59px;
  height:31px;
}
#u285_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:31px;
}
#u286 {
  position:absolute;
  left:2px;
  top:8px;
  width:55px;
  visibility:hidden;
  word-wrap:break-word;
}
#u287 {
  position:absolute;
  left:1196px;
  top:824px;
  width:60px;
  height:16px;
  color:#008000;
}
#u287_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:17px;
}
#u288 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
